doctype html
head
    title=config('app.name')
    link(rel='stylesheet', href='css/app.css')
body
    // h1=Auth::user()
    // h1=Auth::guest()
    // h1=url()->current()


// Nav Bar

nav.navbar.navbar-expand-lg.sticky-top.navbar-dark.bg-transparent
    .container
        // a.navbar-brand(href='#')=config('app.name')
        a.navbar-brand.font-weight-bold(href='#') Ad Geeks
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                // My Links
                li.nav-item: a.nav-link.active(href='#') Home
                    span.sr-only (current)
                li.nav-item: a.nav-link(href=route('products.all')) Products
                unless Route::has('login')
                    li.nav_item: a.nav-link(href=url('/')) Home
                    li.nav-item: a.nav-link(href='#') Link
                    li.nav-item: a.nav-link(href='#') Link
                    li.nav-item: a.nav-link.disabled(href='#') Disabled
                else
                    li.nav_item: a.nav-link(href=route('login')) Login
                    li.nav_item: a.nav-link(href=route('register')) Register




// Menu

ul.nav

// Jumbotron
.py-5.bg-dark.text-light.wellcome_area.ml-auto
    .container
      .row
        .col-sm-6
            h1.display-6.font-weight-bold Your on-demand, marketing team!
            p.lead
                | Killer Facebook Ads… designed, written & delivered! Everything you need to sell products or generate leads online.
            p.lead
                a.btn.btn-primary.btn-lg(href='#', role='button') Create Account
        .col-sm-6
            img.img-fluid(src="https://adgeeks.co/public/images/home/692.png")

// Section 

.py-5
    .container
      .row
        // Section 
        .col-sm-6
            img.img-fluid(src="https://adgeeks.co//public/images/home/694.jpg")
        // Section
        .col-sm-6.d-flex
            .align-self-center

                h1.display-6.mb-3 How can Ad Geeks help you?

                p
                    | Are you a busy business owner? Do you lack the time, budget or in-house team to come up with thumb-stopping images, engaging copy or audience research? Well, you need an Ad Geeks in your life.
                p
                    | At Ad Geeks we do all the heavy lifting for you. We have packages to suit every need and budget. It's all pay-as-you-go, no lengthy contracts to tie you down.
                p
                    | Create a free account and get started. 

                a.btn.btn-primary.btn-lg(href='#', role='button') Learn more


// Section 

.py-5
    .container
      .row
        // Section 
        .col-sm-6.d-flex
            .align-self-center

                h1.display-6.mb-3 How can Ad Geeks help you?

                p
                    | Are you a busy business owner? Do you lack the time, budget or in-house team to come up with thumb-stopping images, engaging copy or audience research? Well, you need an Ad Geeks in your life.
                p
                    | At Ad Geeks we do all the heavy lifting for you. We have packages to suit every need and budget. It's all pay-as-you-go, no lengthy contracts to tie you down.
                p
                    | Create a free account and get started. 

                a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
        // Section
        .col-sm-6
            img.img-fluid(src="https://adgeeks.co//public/images/home/694.jpg")


.py-5.bg-light
    .container
        .d-flex.flex-row.justify-content-center
            div
                h1 How it works







