<template>




    <div 
      class="item" 
      @mouseover="flags.editButtonFade = false"
      @mouseleave="flags.editButtonFade = true">


      <img class="ui mini circular image visible content" :src="avatarDirectory">

      <div class="content">

        <div class="ui sub header visible content" v-text="member.name"></div>

        <span v-show="!flags.showEditPosition">

          <span v-text="member.pivot.position"></span> 
          
          <a>
            <i 
              v-show="flags.memberIsAdministrator"
              @click="flags.showEditPosition = !flags.showEditPosition" 
              class="icon edit outline"
              :class="toggleEditButtonFade"></i>
          </a>

        </span>


        <span v-show="flags.showEditPosition">

          <form class="ui form" method="POST" action="" @submit.prevent="onSubmit">
            <div class="inline field">

              <select 
                class="ui small search dropdown" 
                :class="{disabled: flags.saving}"
                v-model="inputPosition">

                <option
                  v-for="(position, index) in allowed_positions"
                  :value="position"
                  :key="index"
                  v-text="position"></option>

              </select>

              <span 
                class="ui compact icon button"
                @click="flags.showEditPosition = !flags.showEditPosition" 
                :class="[classes.cancelButton, {disabled: flags.saving}]"
                @mouseover="toggleClassOfCancelButton('focus')"
                @mouseleave="toggleClassOfCancelButton('blur')">
                <i class="icon times"></i>
              </span>

              <button
                class="ui compact icon button"
                :class="[classes.saveButton, {loading: flags.saving, disabled: flags.saving}]"
                @mouseover="toggleClassOfSaveButton('focus')"
                @mouseleave="toggleClassOfSaveButton('blur')">
                <i class="icon check"></i>
              </button>

            </div>
          </form>



        </span>
        
      </div>  


    </div>




</template>



<script>
  import Form from '../core/Form.js';

  export default {
    props: ['member', 'authposition'],

    data: function(){

      return {

        allowed_positions: ['Administrator','Member'],

        inputPosition: this.member.pivot.position,

        formData: {},

        flags: {
          showEditPosition: false,
          editButtonFade: true,
          memberIsAdministrator: false,
          saving: false,
        },

        classes: {
          fade20: 'fade-20',
          cancelButton: 'grey basic',
          saveButton: 'grey basic',
        }

      }

    },


    

    created() {},




    mounted() {

      if (this.authposition == 'Administrator') {

        this.flags.memberIsAdministrator = true;

      }
    },




    computed: {
      toggleEditButtonFade() {

        return (this.flags.editButtonFade) ? this.classes.fade20 : '';

      },

      avatarDirectory() {

        return '/storage/' + this.member.avatar;

      },
    },




    methods: {
      onSubmit(e) {

        if ( this.validate(this.inputPosition) ) 
          this.handleSubmit()
        else
          console.log('not valid')

      },

      handleSubmit() {

        // prepare aesthetics
        this.savingState();


        let theFormData = new FormData();

        theFormData.append('user_slug', this.member.slug);

        theFormData.append('agency_id', this.member.pivot.agency_id);

        theFormData.append('position', this.inputPosition);



        // POST Request
        axios.post('/a/team/changeposition', theFormData, {

          headers: {
            'Content-Type': 'multipart/form-data'
          }

        })
        .then(response => {

          // console.log(response);

          if (response.data.status == 'success')
          {

            this.member.pivot.position = this.inputPosition;

            this.savedState();

            this.$emit('message', {status:response.data.status, msg:response.data.message});

          }
          else {

            this.flags.saving = false;

            this.$emit('message', {status:response.data.status, msg:response.data.message});

          }

        })
        .catch(error => {

          // console.log(error);

          this.flags.saving = false;

          this.$emit('message', {status:'error', msg:'Fatal Error. Please refresh the page and try again.'});

        });

      },

      validate(val) {

        return this.allowed_positions.includes(val);

      },

      toggleClassOfCancelButton(state = 'blur') {

        if (state == 'focus') {

          return this.classes.cancelButton = 'red';

        }
        else {

          return this.classes.cancelButton = 'basic grey';

        }

      },

      toggleClassOfSaveButton(state = 'blur') {

        if (state == 'focus') {

          return this.classes.saveButton = 'green';

        }
        else {

          return this.classes.saveButton = 'basic grey';

        }

      },

      savingState() {

        this.flags.saving = true;

        this.$emit('clearmessage');

      },

      savedState() {

        this.flags.showEditPosition = false;

        this.flags.saving = false;

      }

    },
  }

</script>



<style>
  .fade-20 {
    opacity: 0.2 !important;
    filter: alpha(opacity=20) !important; /* For IE8 and earlier */
  }
</style>