<template>

  <div class="ui segment basic grid">

    <div class="ui horizontal list">

            <div class="ui comments" v-show="flags.showMessage">
              <div class="comment">
                <div class="content">
                  <div class="metadata">
                  <p class="date" :style="{color:styles.alertMessageColor}" v-text="alertMessage"></p>
                  </div>
                </div>
              </div>
            </div> 


            <agency-member
              v-for="(member, index) in agency.members"
              v-bind:member="member"
              v-bind:authposition="agency.pivot.position"
              v-bind:index="index"
              v-bind:key="member.slug"
              v-on:message="message"
              v-on:clearmessage="clearMessage"
            ></agency-member>

    </div>

  </div>

</template>



<script>

  export default {
    props: ['agency'],

    data: function(){

      return {

        // formData: {},

        alertMessage: '',

        styles: {
          
          alertMessageColor: '#b58105',
        
        },

        colors: {

          red: '#db2828',

          green: '#1ebc30',

          yellow: '#b58105',

        },

        flags: {

          showMessage: false,

        },

      }

    },

    created() {},

    mounted() {},

    computed: {},

    methods: {
      message(data) {

        if (data.status == 'success') {

          this.styles.alertMessageColor = this.colors.green;

        }

        if (data.status == 'failed') {

          this.styles.alertMessageColor = this.colors.yellow;
          
        }

        if (data.status == 'error') {

          this.styles.alertMessageColor = this.colors.red;
          
        }

        this.alertMessage = data.msg;

        this.flags.showMessage = true;

      },

      clearMessage() {

        this.alertMessage = '';

        this.flags.showMessage = false;

      }
    },
  }

</script>



<style>
</style>