<template>



        <div class="item">
            <div class="image">
                <img :src="product_image_dir">

                <div class="ui bottom attached green progress" ref="progress" :id="progress_id">
                    <div class="bar"></div>
                </div>
            </div>

            <div class="content">
                <a class="header" v-text="purchase.product.name"></a>
                
                <div class="meta">
                    <span v-text="purchase.product.description"></span>
                </div>

                <div class="description">
                    <p></p>
                </div>

                <div class="extra">$<span v-text="purchase.price"></span></div>

                <div class="description" v-html="status_phrase"></div>
            </div>

        </div>





</template>



<script>
  import Form from '../core/Form.js';

  export default {
    props: ['purchase'],

    data: function(){

        return {

            formData: {
                status: 'Inactive',
                completion: 0,
            },
        }
    
    },

    filters: {},


    created() {},


    mounted() {

        // initialize data
        this.formData.status = this.purchase.status;
        this.formData.completion = this.purchase.completion;

        // initialize progress UI
        var completion = parseInt(this.formData.completion);
        var id_slug = '#progress_' + this.purchase.slug;

        setTimeout(function(){ 

            $(id_slug).progress({
                percent: completion,
            });

        }, 2000);

    },


    computed: {
        progress_id() {
            return 'progress_' + this.purchase.slug;
        },

        product_image_dir() {
            return '/' + this.purchase.product.image;
        },

        status_phrase() {
            if (this.formData.status == 'Awaiting Activation') {
                let phrase = 'This purchase status is currently <span class="ui orange horizontal label">Awaiting Activation</span>';

                if (this.purchase.external_form != '' && this.purchase.external_form != null)
                    phrase +=  'to activate please click <a href="' + this.purchase.external_form + '" target="_blank">here</a>.';
                else
                    phrase += '.';

                return phrase;
            }

            return this.formData.status;
        }
    },


    methods: {},

  }
</script>



<style>
</style>