<template>
  <div :class="{ui:true, huge:true, form:true, loading:flags.isSubmitting, error:errors.any(), success:isSubmitSuccess}">


    <div class="ui success message" v-show="isSubmitSuccess">
      <div class="header">Success</div>
      <p v-html="successMessage"></p>
    </div>


    <div class="ui error message" v-show="errors.any()">

      <div class="header">There were some errors</div>

      <ul class="list">
        
          <li 
            v-for="(error, index) in errors.getMessages()" 
            :key="index"
            v-text="error"
          ></li>

      </ul>
    </div>


    <form id="product-form" enctype="multipart/form-data" @submit.prevent="onSubmit">
    
      <div class="field">
        <label>Name</label>
        <div class="fields">
          <div :class="{twelve:true, wide:true, field:true, error:errors.has('name')}">
            <input v-model="formData.name" type="text" name="name" placeholder="product name" required>
          </div>

          <div class="four wide field">
            <div class="ui right aligned huge buttons">
              <a :class="{ui:true, positive:ifStatusIs('inactive'), button:true}" @click="setInactive()">Inactive</a>
              <div class="or"></div>
              <a :class="{ui:true, positive:ifStatusIs('active'), button:true}" @click="setActive()">Active</a>
            </div>
          </div>
        </div>
      </div>


      <div :class="{field:true, error:errors.has('description')}">
        <label>Description</label>
        <textarea v-model="formData.description" rows="2" placeholder="product description"></textarea>
      </div>


      <div :class="{field:true, error:errors.has('image')}">
        <label>Image</label>
        <input @change="handleImageFile($event)" type="file" ref="image" name="image">
        
        <div id="image-cropper-box" v-show="flags.withLoadedCropperImage" :class="{ui:true, loading:!flags.withLoadedCropperImage, form:true}">
          <img id="image_to_crop" ref="image_to_crop" src="/storage/products/default.png">


          <div class="ui icon large primary buttons">
            <a @click="cropController('drag')" class="ui button" title="drag mode"><i class="compress icon"></i></a>
          </div>

          <div class="ui icon large primary buttons">
            <a @click="cropController('zoom_out')" class="ui button" title="zoom out"><i class="search minus icon"></i></a>
            <a @click="cropController('zoom_in')" class="ui button" title="zoom in"><i class="search plus icon"></i></a>
          </div>

          <div class="ui icon large primary buttons">
            <a @click="cropController('rotate_l')" class="ui button" title="rotate left"><i class="undo icon"></i></a>
            <a @click="cropController('rotate_r')" class="ui button" title="rotate right"><i class="redo icon"></i></a>
          </div>

          <div class="ui icon large primary buttons">
            <a @click="cropController('flip_h')" class="ui button" title="flip horizontal"><i class="arrows alternate horizontal icon"></i></a>
            <a @click="cropController('flip_v')" class="ui button" title="flip vertical"><i class="arrows alternate vertical icon"></i></a>
          </div>

          <div class="ui icon large green buttons" style="display:none">
            <a @click="cropController('save')" class="ui button" title="save"><i class="save icon"></i></a>
          </div>
        </div>
      </div>


      <h1 class="ui dividing header m-t-60">
        <div class="sub header">Payment Method</div>
      </h1>

      <div class="field">
        <div class="two ui large buttons">
          <a :class="{ui:true, positive:isOneTime, button:true}" @click="setPaymentMethod('one_time')">One Time Pay</a>
          <div class="or"></div>
          <a :class="{ui:true, positive:isSubscription, button:true}" @click="setPaymentMethod('subscription')">Subscription</a>
        </div>
      </div>


      <h1 class="ui dividing header m-t-60">
        <div class="sub header">Pricing</div>
      </h1>

      <div class="fields">
        <div class="five wide field">
          <div class="ui huge buttons">
            <a :class="{ui:true, positive:ifPricingTypeIs('singular'), button:true}" @click="setSingular">Singular</a>
            <div class="or"></div>
            <a :class="{ui:true, positive:ifPricingTypeIs('variation'), button:true}" @click="setVariations">Variations</a>
          </div>
        </div>

        <div class="eleven wide field" v-show="isSingular">
          <div :class="{ui:true, left:true, icon:true, input:true, error:errors.has('s_amount')}">
            <input v-model="formData.s_amount" type="decimal" name="s-amount" placeholder="amount" :required="isSingular">
            <i class="dollar icon"></i>
          </div>
        </div>
      </div>

      <div id="v-price-box" v-show="isVariation">

        <div
          v-for="(v_amount, index) in formData.v_amounts"
          :key="index"
          class="fields"
        >

          <div class="two wide field">
            <div class="ui small basic icon buttons">
              <a class="ui button hide" tabindex="0"><i class="compress icon"></i></a>
              <a @click="removeVPrice(index)" class="ui button" tabindex="0"><i class="trash alternate outline red icon"></i></a>
            </div>
          </div>
          <div :class="{eight:true, wide:true, field:true, error:errors.has('v-price-name.'+index)}">
            <input v-model="v_amount.name" type="text" name="v-price-name[]" placeholder="price name" :required="isVariation">
          </div>
          <div class="four wide field">
            <div :class="{ui:true, left:true, icon:true, input:true, error:errors.has('v-price-amount.'+index)}">
              <input v-model="v_amount.amount" type="decimal" name="v-price-amount[]" placeholder="amount" :required="isVariation">
              <i class="dollar icon"></i>
            </div>
          </div>
          <div class="two wide field">
            <div class="ui radio checkbox">
              <input @change="changeVPriceDefault(v_amount)" type="radio" name="v-price-default[]" tabindex="0" class="hidden" :checked="v_amount.default">
              <label>Default</label>
            </div>
          </div>

        </div>

        <div @click="addVPrice($event)" class="ui bottom attached button" tabindex="0">Add Price</div>

      </div>


      <h1 class="ui dividing header m-t-60">
        <div class="sub header">Processing</div>
      </h1>

      <div class="field">
        <input v-model="formData.external_form" type="text" name="external_form" placeholder="External Form">
      </div>


      <input ref="btn_submit" type="submit" value="Create Product" class="ui huge right floated primary button m-t-60" :disabled="flags.isSubmitting">

    </form>


  </div>
</template>

<script>
  import Errors from '../core/OldErrors.js';

  export default {
    props: ['originalproduct'],

    data: function(){
      return {

        // originalProduct: null,
        
        formData: {
          name: '',
          status: 'active',
          description: '',
          image: null,
          payment_method: 'one_time',
          pricing_type: 'singular',
          s_amount: 1.00,
          v_amounts: [
            {
              name: '',
              amount: 1,
              default: true,
            }, 
            {
              name: '',
              amount: 1,
              default: false,
            }
          ],
          external_form: '',
        },

        ObjCropper: null,

        flags: {
          isSubmitting: true,
          withLoadedCropperImage: false,
          submitType: 'create',
        },

        errors: new Errors(),

        successMessage: '',
      }
    },

    created() {
      this.flags.isSubmitting = true;
    },

    mounted() {
      document.querySelector("[name='name']").focus();

      this.handleUpdateMode();

      this.flags.isSubmitting = false;   

    },

    computed: {
      isActive() {
        return (this.formData.status == 'active');
      },

      isInactive() {
        return (this.formData.status == 'inactive');
      },

      isOneTime() {
        return (this.formData.payment_method == 'one_time');
      },

      isSubscription() {
        return (this.formData.payment_method == 'subscription');
      },

      isSingular() {
        return (this.formData.pricing_type == 'singular');
      },

      isVariation() {
        return (this.formData.pricing_type == 'variation');
      },

      isSubmitSuccess() {
        return (this.successMessage.length !== 0);
      },
    },

    methods: {
      onSubmit(e) {

        if (this.flags.submitType == 'create') {
          this.createProduct();
        }
        else if(this.flags.submitType == 'update') {
          this.updateProduct();
        }

      },

      handleUpdateMode() {

        if (typeof this.originalproduct == 'undefined') {

          return;

        }

        if (typeof this.originalproduct !== 'undefined') {

          this.$refs.btn_submit.value = 'Update Product';

          this.flags.isSubmitting = true;
          
          this.flags.submitType = 'update';

          this.populateFormData();

          if (this.originalproduct.image != 'storage/products/default.png') {

            this.$refs.image_to_crop.src = '/' + this.originalproduct.image;

            // this.flags.withLoadedCropperImage = true;

            this.initImageCropper();

          }

          this.flags.isSubmitting = false;
        }

      },

      populateFormData() {

        this.formData.name = this.originalproduct.name;
        this.formData.description = this.originalproduct.description;
        
        if (this.originalproduct.subscription) {

          this.formData.payment_method = 'subscription';

        }
        else {

          this.formData.payment_method = 'one_time';

        }
        
        if (this.originalproduct.disabled) {

          this.formData.status = 'inactive';

        }
        else {

          this.formData.status = 'active';

        }

        this.formData.pricing_type = this.originalproduct.price_type;

        if (this.originalproduct.price_type == 'singular') {

          this.formData.s_amount = this.originalproduct.price;

        }
        else {
          // console.log(JSON.parse(this.originalproduct.price_variations));
          this.formData.v_amounts = JSON.parse(this.originalproduct.price_variations);

        }

        this.formData.external_form = this.originalproduct.external_form;

      },

      createProduct() {

        this.flags.isSubmitting = true;



        let theFormData = new FormData();

        theFormData = this.handleFormData(theFormData);



        axios.post('/a/products/store', 
          theFormData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {

            // console.log('axios: ', response.data);

            this.errors.clearAll();

            if (response.data.status == 'success') {

              this.successMessage = response.data.message;

              this.postCroppedImageData(response.data.slug);

              this.clearformData();

            }

            this.flags.isSubmitting = false;

          })
          .catch(error => {

            this.errors.record(error.response.data.errors);

            this.flags.isSubmitting = false;

          });

      },

      updateProduct() {

        this.flags.isSubmitting = true;



        let theFormData = new FormData();

        theFormData = this.handleFormData(theFormData);

        theFormData.append('id', this.originalproduct.id);

        theFormData.append('slug', this.originalproduct.slug);


        axios.post('/a/products/update', 
          theFormData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {

            // console.log('axios: ', response.data);return;

            this.errors.clearAll();

            if (response.data.status == 'success') {

              this.successMessage = response.data.message;

              this.updateCroppedImageData(this.originalproduct.slug);

              // this.clearformData();

            }

            this.flags.isSubmitting = false;

          })
          .catch(error => {

            this.errors.record(error.response.data.errors);

            this.flags.isSubmitting = false;

          });

      },

      postCroppedImageData(slug) {

        if (this.flags.withLoadedCropperImage == false) {
          
          return;

        }


        this.flags.isSubmitting = true;


        var cropped_image = this.ObjCropper.getCroppedCanvas();

        var cropped_image_data = cropped_image.toDataURL('image/jpeg');

        let imageBlob = this.b64toBlob(cropped_image_data);


        let tempImageFormData = new FormData();

        tempImageFormData.append('image', imageBlob);
        tempImageFormData.append('slug', slug);


        axios.post('/a/products/store/image', 
          tempImageFormData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {

            // console.log('axios cropped image: ', response.data);

            this.flags.withLoadedCropperImage = false;

            this.formData.image = null;

            this.ObjCropper = null;

            this.flags.isSubmitting = false;

            this.clearformData();

          })
          .catch(error => {

            this.errors.record(error.response.data.errors);

            this.flags.isSubmitting = false;

          });

      },

      updateCroppedImageData(slug) {

        if (this.flags.withLoadedCropperImage == false) {
          
          return;

        }


        this.flags.isSubmitting = true;


        var cropped_image = this.ObjCropper.getCroppedCanvas();

        var cropped_image_data = cropped_image.toDataURL('image/jpeg');

        let imageBlob = this.b64toBlob(cropped_image_data);


        let tempImageFormData = new FormData();

        tempImageFormData.append('image', imageBlob);
        tempImageFormData.append('slug', slug);


        axios.post('/a/products/store/image', 
          tempImageFormData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {

            // console.log('axios cropped image: ', response.data);

            // this.flags.withLoadedCropperImage = false;

            // this.formData.image = null;

            // this.ObjCropper = null;

            this.flags.isSubmitting = false;

            // this.clearformData();

          })
          .catch(error => {

            this.errors.record(error.response.data.errors);

            this.flags.isSubmitting = false;

          });

      },

      handleFormData(theFormData) {
        
        theFormData.append('name', this.formData.name);
        theFormData.append('status', this.formData.status);
        theFormData.append('description', this.formData.description);
        theFormData.append('payment_method', this.formData.payment_method);

        // if ( this.formData.image ){

        //   theFormData.append('image', this.formData.image);
          
        // }

        theFormData.append('pricing_type', this.formData.pricing_type);

        if (this.formData.pricing_type == 'singular') {

          theFormData.append('s_amount', this.formData.s_amount);

        }
        else {

          _.forEach(this.formData.v_amounts, function(value, key) {

            theFormData.append('v-price-name[]', value.name);

            theFormData.append('v-price-amount[]', parseFloat(value.amount));

            theFormData.append('v-price-default[]', value.default);

          });

        }

        theFormData.append('external_form', this.formData.external_form);


        return theFormData;

      },

      handleImageFile(event) 
      {
        if ( !event.target.files.length ) {

          this.formData.image = null;

          this.flags.withLoadedCropperImage = false;

          this.ObjCropper = null;

          return;

        }

        this.flags.withLoadedCropperImage = false;

        // this.formData.image = event.target.files[0];


        // destoy existing cropper is exists
        $('#image_to_crop').cropper('destroy');        

        var image_to_crop_for_filereader = document.querySelector('#image_to_crop');
        
        let reader  = new FileReader();

        reader.readAsDataURL(event.target.files[0]);

        reader.onload = (function() {
          image_to_crop_for_filereader.src = reader.result;
        });

        // this.ObjCropper.destroy();
        // this.ObjCropper.replace(reader.result);

        this.initImageCropper();
        
      },

      // NOT USED
      uploadTempImage() {

        let tempImageFormData = new FormData();

        tempImageFormData.append('temp_image', this.formData.image);

        axios.post('/a/products/temp_image/store', 
          tempImageFormData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {

            console.log('axios: ', response.data);

          })
          .catch(error => {

            this.errors.record(error.response.data.errors);

          });

      },

      initImageCropper() {

        setTimeout( () => {
        
          var image_to_crop_for_cropper = $('#image_to_crop');


          var options = {
            // aspectRatio: 16 / 9,
            // preview: '.img-preview',
            zoomOnWheel: false,
            aspectRatio: 1 / 1,
            minContainerWidth: 570,
            minContainerHeight: 350,
            minCropBoxWidth: 150,
            minCropBoxHeight: 150,
            rotatable: true,
            cropBoxResizable: true,
            autoCropArea: 1,
            crop: function (e) {}
          };


          image_to_crop_for_cropper.cropper(options);

          this.ObjCropper = image_to_crop_for_cropper.data('cropper');

          this.flags.withLoadedCropperImage = true;
        
        }, 1000 );
      },

      cropController(method) {

        if (this.ObjCropper == null) {
          
          console.log('cropper is not set');
          
          return;
        }
        
        if (method == 'drag') {

          this.ObjCropper.setDragMode('move');

        }
        
        if (method == 'zoom_out') {

          this.ObjCropper.zoom(-0.1);

        }
        
        if (method == 'zoom_in') {

          this.ObjCropper.zoom(0.1);

        }
        
        if (method == 'rotate_l') {

          this.ObjCropper.rotate(-30);

        }
        
        if (method == 'rotate_r') {

          this.ObjCropper.rotate(30);

        }
        
        if (method == 'flip_h') {

          this.ObjCropper.scaleX(this.ObjCropper.imageData.scaleX * -1);

        }
        
        if (method == 'flip_v') {

          this.ObjCropper.scaleY(this.ObjCropper.imageData.scaleY * -1);

        }
      },

      addVPrice(event) {

        this.formData.v_amounts.push({name:'', amount:1.00, default:false});

        setTimeout( () => $('.ui.radio.checkbox').checkbox(), 500 );

      },

      changeVPriceDefault(v_amount) {

        _.forEach(this.formData.v_amounts, function(value, key) {

          value.default = (value == v_amount);

        });

      },

      removeVPrice(index) {

        // prevent remove if theres only 1 v-price
        if ( this.formData.v_amounts.length < 2 )
          return;


        // flag if removing the default v-price
        if ( this.formData.v_amounts[index].default == true )
          var assign_new_default = true;


        this.formData.v_amounts.splice(index, 1);


        // assign new default v-price
        if (assign_new_default == true)
          this.formData.v_amounts[0].default = true;

      },

      ifStatusIs(status) {
        return (status.toLowerCase() == this.formData.status);
      },

      ifPricingTypeIs(status) {
        return (status.toLowerCase() == this.formData.pricing_type);
      },

      setActive() {
        this.formData.status = 'active';
      },

      setInactive() {
        this.formData.status = 'inactive';
      },

      setPaymentMethod($method = 'one_time') {

        if ( $method != 'one_time' && $method != 'subscription' ) {
          
          this.formData.payment_method = 'one_time';
          
          return;
        
        }

        this.formData.payment_method = $method;

      },

      setSingular() {
        this.formData.pricing_type = 'singular';
      },

      setVariations() {
        this.formData.pricing_type = 'variation';
      },

      parseAmount(x) {
        return Number.parseFloat(x).toFixed(2);
      },

      b64toBlob(rawBase64Data, contentType, sliceSize) 
      {
        contentType = contentType || '';

        sliceSize = sliceSize || 512;



        var rawBlock = rawBase64Data.split(";");

        // Get the content type
        var contentType = rawBlock[0].split(":")[1];// In this case "image/gif"

        // get the real base64 content of the file
        var realData = rawBlock[1].split(",")[1];// In this case "iVBORw0KGg...."



        var byteCharacters = atob(realData);

        var byteArrays = [];



        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) 
        {
          var slice = byteCharacters.slice(offset, offset + sliceSize);

          var byteNumbers = new Array(slice.length);
          for (var i = 0; i < slice.length; i++) {
              byteNumbers[i] = slice.charCodeAt(i);
          }

          var byteArray = new Uint8Array(byteNumbers);

          byteArrays.push(byteArray);
        }


        var blob = new Blob(byteArrays, {type: contentType});


        return blob;
      },

      clearformData() 
      {
        this.formData.name = '';
        this.formData.status = 'active';
        this.formData.description = '';
        this.formData.image = null;
        this.formData.s_amount = 1;
        this.formData.v_amounts = [{name:'',amount:1,default:true,},{name:'',amount:1,default:false,}];

        this.$refs.image.type = 'text';
        this.$refs.image.type = 'file';
      },
    }
  }
</script>


<style>
  #image-cropper-box {
    width: 100%;
    height: 500px;

    background: #f7f7f7;

    text-align: center;
  }

  #image-cropper-box > img {
    max-width: 100%;
    max-height: 500px;

    margin: auto;
  }
</style>

