<template>

  <div class="ui main fluid container segment basic">

    <div class="ui active inverted dimmer" v-show="flags.loading">
      <div class="ui text loader">Loading</div>
    </div>

    <div class="ui items">

      <products-purchases
        v-for="(purchase, index) in productspurchased"
        v-bind:purchase="purchase"
        v-bind:index="index"
        v-bind:key="purchase.slug"
      ></products-purchases>

    </div>

  </div>

</template>



<script>

  export default {
    props: ['productspurchased'],

    data: function(){

      return {

        flags: {
          loading: true,
        },

      }

    },

    created() {},

    mounted() {

      var vm = this;

      setTimeout(function(){
        vm.flags.loading = false;
      }, 1000);      

    },

    computed: {},

    methods: {
    },
  }

</script>



<style>
</style>