<template>
  <div>
    <h2>This is Sample Axios Component!</h2>
    <slot></slot>
    <ul>
    </ul>
  </div>
</template>


<script>
  export default {
    props: [],

    data: function() {
      return {
        data1: []
      }
    },

    created() {},

    mounted() {
      this.fetchSampleData();
    },

    methods: {
      fetchSampleData() {
        axios.get('/test/getSampleData')
        .then(response => {
          console.log(response.data);
          this.data1 = response.data;
        })
        .catch(function (error) {
          console.log(error);
        });
      },
    },
  }
</script>

<style>

</style>
