<template>


    <div>

        <!-- VIEW MODE -->
        <div class="ui items raised segment" id="viewmode-wrapper"
        :class="{loading:flags.loading_view}" 
        v-show="isModeView">
            <div class="item">
                <div class="content">
                    <div class="ui small right floated buttons blured70">
                        <div class="ui compact vertical animated button" tabindex="0"  
                        v-show="canEdit" 
                        @click="setEditMode">
                            <div class="hidden content">Edit</div>
                            <div class="visible content">
                                <i class="pencil alternative icon"></i>
                            </div>
                        </div>
                        <div class="ui compact vertical animated button" tabindex="0" 
                        v-show="canCancel" 
                        @click="onCancel">
                            <div class="hidden content">Cancel</div>
                            <div class="visible content">
                                <i class="times icon"></i>
                            </div>
                        </div>
                        <div class="ui compact vertical animated button" tabindex="0"
                        v-show="canRemove"
                        @click="onConfirmRemove">
                            <div class="hidden content">Remove</div>
                            <div class="visible content">
                                <i class="trash alternate icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="header">
                        <span v-text="plan.nickname"></span> 
                        <span v-html="activeHtml"></span>
                    </div>

                    <div class="description">
                        <p>
                            <span>{{ plan.currency | uppercase }}</span> 
                            <u>{{ plan.amount | centsToDollars }}</u> 
                            per 
                            <span v-text="plan.interval_count">1</span> 
                            <span  v-text="plan.interval">month</span>
                        </p>
                    </div>
                    
                    <div class="extra">
                        Trial period: <span v-text="trialPeriod"></span>days
                    </div>
                </div>
            </div>

            <div class="ui dimmer" :class="{active:flags.confirm_remove}">
                <div class="content">
                    <div class="center">
                        <p>Are you sure? This cannot be reverted back.</p>
                        <div class="ui inverted button" @click="onNahRemove">Nah..</div>
                        <div class="ui inverted red button" @click="onRemove">Yes!</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END VIEW MODE -->



        <!-- CREATE MODE -->
        <div class="ui small form secondary segment" v-show="isModeCreate" 
        :class="{loading:flags.loading_form, error:errors.any()}">

            <div class="fields">
                <div class="field" :class="{error:errors.has('nickname')}">
                    <input type="text" maxlength="50" placeholder="nickname" v-model="formData.nickname">
                </div>
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" class="hidden" v-model="formData.active">
                        <label>Active</label>
                    </div>
                </div>
            </div>

            <div class="ui tiny message" 
            v-show="errors.has('nickname')" 
            :class="{error:errors.has('nickname')}">
                <li v-text="errors.get('nickname')"></li>
            </div>

            <div class="fields">
                <div class="two wide field" :class="{error:errors.has('amount')}">
                    <label>Amount</label>
                    <div class="ui input">
                        <input type="number" placeholder="0.00" v-model="formData.amount">
                    </div>
                </div>
                <div class="four wide field" :class="{error:errors.has('currency')}">
                    <label>Currency</label>
                    <select name="currency" class="ui compact selection dropdown" v-model="formData.currency">
                        <option selected="" value="usd">USD - US Dollar</option>
                        <option value="aed">AED - United Arab Emirates</option>
                        <option value="afn">AFN* - Afghan Afghani</option>
                        <option value="all">ALL - Albanian Lek</option>
                        <option value="amd">AMD - Armenian Dram</option>
                        <option value="ang">ANG - Netherlands Antillean Guilder</option>
                        <option value="aoa">AOA* - Angolan Kwanza</option>
                        <option value="ars">ARS* - Argentine Peso</option>
                        <option value="aud">AUD - Australian Dollar</option>
                        <option value="awg">AWG - Aruban Florin</option>
                        <option value="azn">AZN - Azerbaijani Manat</option>
                        <option value="bam">BAM - Bosnia-Herzegovina Convertible Mark</option>
                        <option value="bbd">BBD - Barbadian Dollar</option>
                        <option value="bdt">BDT - Bangladeshi Taka</option>
                        <option value="bgn">BGN - Bulgarian Lev</option>
                        <option value="bif">BIF - Burundian Franc</option>
                        <option value="bmd">BMD - Bermudan Dollar</option>
                        <option value="bnd">BND - Brunei Dollar</option>
                        <option value="bob">BOB* - Bolivian Boliviano</option>
                        <option value="brl">BRL* - Brazilian Real</option>
                        <option value="bsd">BSD - Bahamian Dollar</option>
                        <option value="bwp">BWP - Botswanan Pula</option>
                        <option value="bzd">BZD - Belize Dollar</option>
                        <option value="cad">CAD - Canadian Dollar</option>
                        <option value="cdf">CDF - Congolese Franc</option>
                        <option value="chf">CHF - Swiss Franc</option>
                        <option value="clp">CLP* - Chilean Peso</option>
                        <option value="cny">CNY - Chinese Yuan</option>
                        <option value="cop">COP* - Colombian Peso</option>
                        <option value="crc">CRC* - Costa Rican Colon</option>
                        <option value="cve">CVE* - Cape Verdean Escudo</option>
                        <option value="czk">CZK* - Czech Koruna</option>
                        <option value="djf">DJF* - Djiboutian Franc</option>
                        <option value="dkk">DKK - Danish Krone</option>
                        <option value="dop">DOP - Dominican Peso</option>
                        <option value="dzd">DZD - Algerian Dinar</option>
                        <option value="egp">EGP - Egyptian Pound</option>
                        <option value="etb">ETB - Ethiopian Birr</option>
                        <option value="eur">EUR - Euro</option>
                        <option value="fjd">FJD - Fijian Dollar</option>
                        <option value="fkp">FKP* - Falkland Islands Pound</option>
                        <option value="gbp">GBP - British Pound</option>
                        <option value="gel">GEL - Georgian Lari</option>
                        <option value="gip">GIP - Gibraltar Pound</option>
                        <option value="gmd">GMD - Gambian Dalasi</option>
                        <option value="gnf">GNF* - Guinean Franc</option>
                        <option value="gtq">GTQ* - Guatemalan Quetzal</option>
                        <option value="gyd">GYD - Guyanaese Dollar</option>
                        <option value="hkd">HKD - Hong Kong Dollar</option>
                        <option value="hnl">HNL* - Honduran Lempira</option>
                        <option value="hrk">HRK - Croatian Kuna</option>
                        <option value="htg">HTG - Haitian Gourde</option>
                        <option value="huf">HUF* - Hungarian Forint</option>
                        <option value="idr">IDR - Indonesian Rupiah</option>
                        <option value="ils">ILS - Israeli New Shekel</option>
                        <option value="inr">INR* - Indian Rupee</option>
                        <option value="isk">ISK - Icelandic Krona</option>
                        <option value="jmd">JMD - Jamaican Dollar</option>
                        <option value="jpy">JPY - Japanese Yen</option>
                        <option value="kes">KES - Kenyan Shilling</option>
                        <option value="kgs">KGS - Kyrgystani Som</option>
                        <option value="khr">KHR - Cambodian Riel</option>
                        <option value="kmf">KMF - Comorian Franc</option>
                        <option value="krw">KRW - South Korean Won</option>
                        <option value="kyd">KYD - Cayman Islands Dollar</option>
                        <option value="kzt">KZT - Kazakhstani Tenge</option>
                        <option value="lak">LAK* - Laotian Kip</option>
                        <option value="lbp">LBP - Lebanese Pound</option>
                        <option value="lkr">LKR - Sri Lankan Rupee</option>
                        <option value="lrd">LRD - Liberian Dollar</option>
                        <option value="lsl">LSL - Lesotho Loti</option>
                        <option value="mad">MAD - Moroccan Dirham</option>
                        <option value="mdl">MDL - Moldovan Leu</option>
                        <option value="mga">MGA - Malagasy Ariary</option>
                        <option value="mkd">MKD - Macedonian Denar</option>
                        <option value="mmk">MMK - Myanmar Kyat</option>
                        <option value="mnt">MNT - Mongolian Tugrik</option>
                        <option value="mop">MOP - Macanese Pataca</option>
                        <option value="mro">MRO - Mauritanian Ouguiya</option>
                        <option value="mur">MUR* - Mauritian Rupee</option>
                        <option value="mvr">MVR - Maldivian Rufiyaa</option>
                        <option value="mwk">MWK - Malawian Kwacha</option>
                        <option value="mxn">MXN - Mexican Peso</option>
                        <option value="myr">MYR - Malaysian Ringgit</option>
                        <option value="mzn">MZN - Mozambican Metical</option>
                        <option value="nad">NAD - Namibian Dollar</option>
                        <option value="ngn">NGN - Nigerian Naira</option>
                        <option value="nio">NIO* - Nicaraguan Cordoba</option>
                        <option value="nok">NOK - Norwegian Krone</option>
                        <option value="npr">NPR - Nepalese Rupee</option>
                        <option value="nzd">NZD - New Zealand Dollar</option>
                        <option value="pab">PAB* - Panamanian Balboa</option>
                        <option value="pen">PEN* - Peruvian Sol</option>
                        <option value="pgk">PGK - Papua New Guinean Kina</option>
                        <option value="php">PHP - Philippine Peso</option>
                        <option value="pkr">PKR - Pakistani Rupee</option>
                        <option value="pln">PLN - Polish Zloty</option>
                        <option value="pyg">PYG* - Paraguayan Guarani</option>
                        <option value="qar">QAR - Qatari Rial</option>
                        <option value="ron">RON - Romanian Leu</option>
                        <option value="rsd">RSD - Serbian Dinar</option>
                        <option value="rub">RUB - Russian Ruble</option>
                        <option value="rwf">RWF - Rwanda Franc</option>
                        <option value="sar">SAR - Saudi Riyal</option>
                        <option value="sbd">SBD - Solomon Islands Dollar</option>
                        <option value="scr">SCR - Seychellois Rupee</option>
                        <option value="sek">SEK - Swedish Krona</option>
                        <option value="sgd">SGD - Singapore Dollar</option>
                        <option value="shp">SHP* - St. Helena Pound</option>
                        <option value="sll">SLL - Sierra Leonean Leone</option>
                        <option value="sos">SOS - Somali Shilling</option>
                        <option value="srd">SRD* - Surinamese Dollar</option>
                        <option value="std">STD - Sao Tome & Principe Dobra</option>
                        <option value="svc">SVC* - Salvadoran Colon</option>
                        <option value="szl">SZL - Swazi Lilangeni</option>
                        <option value="thb">THB - Thai Baht</option>
                        <option value="tjs">TJS - Tajikistani Somoni</option>
                        <option value="top">TOP - Tongan Paanga</option>
                        <option value="try">TRY - Turkish Lira</option>
                        <option value="ttd">TTD - Trinidad & Tobago Dollar</option>
                        <option value="twd">TWD - New Taiwan Dollar</option>
                        <option value="tzs">TZS - Tanzanian Shilling</option>
                        <option value="uah">UAH - Ukrainian Hryvnia</option>
                        <option value="ugx">UGX - Uganda Shilling</option>
                        <option value="uyu">UYU* - Uruguayan Peso</option>
                        <option value="uzs">UZS - Uzbekistani Som</option>
                        <option value="vnd">VND - Vietnamese Dong</option>
                        <option value="vuv">VUV - Vanuatu Vatu</option>
                        <option value="wst">WST - Samoan Tala</option>
                        <option value="xaf">XAF - Central African CFA Franc</option>
                        <option value="xcd">XCD - East Caribbean Dollar</option>
                        <option value="xof">XOF* - West African CFA Franc</option>
                        <option value="xpf">XPF* - CFP Franc</option>
                        <option value="yer">YER - Yemeni Rial</option>
                        <option value="zar">ZAR - South African Rand</option>
                        <option value="zmw">ZMW - Zambian Kwacha</option>
                    </select>
                </div>
            </div>

            <div>
                <div class="ui tiny message" 
                v-show="errors.has('amount')" 
                :class="{error:errors.has('amount')}">
                    <li v-text="errors.get('amount')"></li>
                </div>

                <div class="ui tiny message" 
                v-show="errors.has('currency')" 
                :class="{error:errors.has('currency')}">
                    <li v-text="errors.get('currency')"></li>
                </div>
            </div>

            <div class="fields">
                <div class="two wide field" 
                :class="{error:errors.has('interval_count') || errors.has('max_day') || errors.has('max_week') || errors.has('max_month') || errors.has('max_year')}">
                    <label>Interval</label>
                    <input type="number" maxlength="3" placeholder="1" v-model="formData.interval_count">
                </div>
                <div class="field" :class="{error:errors.has('interval') || errors.has('max_day') || errors.has('max_week') || errors.has('max_month') || errors.has('max_year')}">
                    <label>&nbsp;</label>
                    <select name="interval" class="ui compact selection dropdown" v-model="formData.interval">
                        <option value="day">Day</option>
                        <option value="week">Week</option>
                        <option selected="" value="month">Month</option>
                        <option value="year">Year</option>
                    </select>
                </div>
            </div>

            <div>
                <div class="ui tiny message" 
                v-show="errors.has('interval_count')" 
                :class="{error:errors.has('interval_count')}">
                    <li v-text="errors.get('interval_count')"></li>
                </div>

                <div class="ui tiny message" 
                v-show="errors.has('interval')" 
                :class="{error:errors.has('interval')}">
                    <li v-text="errors.get('interval')"></li>
                </div>

                <div class="ui tiny message" 
                v-show="errors.has('max_day') || errors.has('max_week') || errors.has('max_month') || errors.has('max_year')" 
                :class="{error:errors.has('max_day') || errors.has('max_week') || errors.has('max_month') || errors.has('max_year')}">
                    <li>The billing interval is invalid. We do not support intervals greater than one year or negative intervals.</li>
                </div>
            </div>

            <div class="fields">
                <div class="field" :class="{error:errors.has('trial_period_days')}">
                    <label>Trial Period (optional)</label>
                    <div class="ui right labeled input">
                        <input type="number" placeholder="0" v-model="formData.trial_period_days">
                        <div class="ui basic label">days</div>
                    </div>
                </div>
            </div>

            <div class="ui tiny message" 
            v-show="errors.has('trial_period_days')" 
            :class="{error:errors.has('trial_period_days')}">
                <li v-text="errors.get('trial_period_days')"></li>
            </div>
            
            <div class="ui tiny message" 
            v-show="errors.has('422')" 
            :class="{error:errors.has('422')}">
                <li v-text="errors.get('422')"></li>
            </div>



            <div style="clear:both">&nbsp;</div>

            <div class="fields">
                <div class="field">
                    <button class="ui positive button" :disabled="!canCreate" @click="onCreate">Save</button>
                </div>
            </div>

        </div>
        <!-- END CREATE MODE -->



        <!-- EDIT MODE -->
        <div class="ui small form secondary segment" v-show="isModeEdit" 
        :class="{loading:flags.loading_form, error:errors.any()}">

            <div class="fields">
                <div class="field" :class="{error:errors.has('nickname')}">
                    <input type="text" maxlength="50" placeholder="nickname" v-model="formData.nickname">
                </div>
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" class="hidden" v-model="formData.active">
                        <label>Active</label>
                    </div>
                </div>
            </div>

            <div class="ui tiny message" 
            v-show="errors.has('nickname')" 
            :class="{error:errors.has('nickname')}">
                <li v-text="errors.get('nickname')"></li>
            </div>

            <div class="fields">
                <div class="field" :class="{error:errors.has('trial_period_days')}">
                    <label>Trial Period (optional)</label>
                    <div class="ui right labeled input">
                        <input type="number" placeholder="0" v-model="formData.trial_period_days">
                        <div class="ui basic label">days</div>
                    </div>
                </div>
            </div>

            <div class="ui tiny message" 
            v-show="errors.has('trial_period_days')" 
            :class="{error:errors.has('trial_period_days')}">
                <li v-text="errors.get('trial_period_days')"></li>
            </div>

            <div class="ui tiny message" 
            v-show="errors.has('422')" 
            :class="{error:errors.has('422')}">
                <li v-text="errors.get('422')"></li>
            </div>



            <div style="clear:both">&nbsp;</div>

            <div class="fields">
                <div class="field">
                    <button class="ui positive button" :disabled="!canUpdate" @click="onUpdate">Update</button>
                </div>
            </div>

        </div>
        <!-- END EDIT MODE -->

    </div>


</template>



<script>
import Errors from '../../../core/Errors.js';

const STATUS_INITIAL = 0, 
    STATUS_SAVING = 1, 
    STATUS_SUCCESS = 2, 
    STATUS_FAILED = 3,
    STATUS_REMOVING = 4;

export default {
    props: {
        setMode: {
            type: String,
            default: 'view'
        },
        readonly: {
            type: Boolean,
            default: false
        },
        subscription: {
            type: Object
        },
        plan: {
            type: Object,
            default: {}
        }
    },

    data: function(){
        return {
            debug: false,

            flags: {
                loading_form: false,
                loading_view: false,
                confirm_remove: false,
                mode: 'view',
                isEditButtonBlured: true,
                status: STATUS_INITIAL,
            },

            formData: {
                nickname: '',
                active: true,
                amount: 0.00,
                currency: 'usd',
                interval_count: 1,
                interval: 'month',
                trial_period_days: 0,
            },

            allowed_modes: ['create', 'view', 'edit'],

            errors: new Errors(),
        }
    },

    created()
    {
        // initialize the mode provided by parent container
        if (this.setMode != null && this.setMode != undefined && this.allowed_modes.includes(this.setMode))
        {
            this.flags.mode = this.setMode;
        }
        else {
            this.flags.mode = 'view';
        }

        if (this.flags.mode == 'view')
        {
            this.populateFormDataWithPlanData();
        }
    },

    mounted()
    {
        // initialize widget for the custom checkbox
        setTimeout( () => $('.ui.checkbox').checkbox(), 500 );
    },

    computed: {
        isShowForm()
        {
            return this.flags.mode == 'create' || this.flags.mode == 'edit';
        },
        isModeCreate()
        {
            return this.flags.mode == 'create';
        },
        isModeView()
        {
            return this.flags.mode != 'create';
        },
        isModeEdit()
        {
            return this.flags.mode == 'edit';
        },

        canCreate()
        {
            return this.flags.status !== STATUS_SAVING && this.flags.mode == 'create';
        },
        canUpdate()
        {
            return this.flags.status !== STATUS_SAVING && this.flags.mode == 'edit';
        },
        canCancel()
        {
            return this.flags.status !== STATUS_SAVING && this.flags.mode == 'edit';
        },
        canEdit()
        {
            return this.flags.status !== STATUS_SAVING && this.flags.mode == 'view' && this.readonly == false;
        },
        canRemove()
        {
            return this.flags.status !== STATUS_SAVING && this.flags.mode == 'view' && this.readonly == false;
        },

        activeHtml()
        {
            return this.plan.active ? '<span class="plan-active">- active</span>' : '</span><span class="plan-inactive">- inactive</span>'
        },
        trialPeriod()
        {
            return this.plan.trial_period_days | 0;
        },
    },

    filters: {
        price: function(value)
        {
            return value.toFixed(2);
        },

        uppercase: function(value)
        {
            return value.toUpperCase();
        },

        centsToDollars: function(cents)
        {
            return (cents/100).toFixed(2);
        },
    },

    methods: {
        populateFormDataWithPlanData()
        {
            this.formData = {
                nickname: this.plan.nickname,
                active: this.plan.active,
                amount: this.centsToDollars(this.plan.amount),
                currency: this.plan.currency,
                interval_count: this.plan.interval_count,
                interval: this.plan.interval,
                trial_period_days: this.plan.trial_period_days,
            };
        },



        /**
         * Main Events
         */
        onCreate()
        {
            // prepare submit
            this.prepareSubmit();

            // handle submit
            this.handleCreate();
        },

        onUpdate()
        {
            // prepare submit
            this.prepareSubmit();

            // handle form data
            this.handleUpdate();
        },

        onCancel()
        {
            this.setViewMode();
        },

        onConfirmRemove()
        {
            this.flags.confirm_remove = true;
        },

        onNahRemove()
        {
            this.flags.confirm_remove = false;
        },

        onRemove()
        {
            // prepare submit
            this.prepareRemove();

            // handle form data
            this.handleRemove();
        },
        // End

        

        prepareSubmit()
        {
            this.flags.loading_form = true;

            this.flags.status = STATUS_SAVING;
        },



        /**
         * Creating Plan methods
         */
        handleCreate()
        {
            let theFormData = new FormData();

            theFormData.append('product_slug', this.subscription.slug);
            theFormData.append('stripe_product_id', this.subscription.stripe_product_id);
            theFormData.append('nickname', this.formData.nickname);
            theFormData.append('active', this.formData.active);
            theFormData.append('amount', this.dollarsToCents(this.formData.amount));
            theFormData.append('currency', this.formData.currency);
            theFormData.append('interval_count', this.formData.interval_count);
            theFormData.append('interval', this.formData.interval);
            theFormData.append('trial_period_days', this.formData.trial_period_days);

            if (this.formData.interval == 'day') {
                theFormData.append('max_day', this.formData.interval_count);
            }
            else if (this.formData.interval == 'week') {
                theFormData.append('max_week', this.formData.interval_count);
            }
            else if (this.formData.interval == 'month') {
                theFormData.append('max_month', this.formData.interval_count);
            }
            else if (this.formData.interval == 'year') {
                theFormData.append('max_year', this.formData.interval_count);
            }


            axios.post(
                '/admin/subscription/store/plan', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.success)
                {
                    this.onCreateSuccessSubmit(response.data);
                }
                else
                {
                    this.onCreateFailedSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response);

                this.errors.record(error.response.data.errors);

                this.onCreateFailedSubmit();
            });
        },

        onCreateSuccessSubmit(data)
        {
            // reset data
            this.formData = this.plan;

            this.flags.loading_form = false;

            this.flags.status = STATUS_SUCCESS;

            // update parent component after creating new plan
            this.onSuccessUpdateParent();
        },

        onCreateFailedSubmit()
        {
            this.flags.loading_form = false;

            this.flags.status = STATUS_FAILED;
        },
        // End



        /**
         * Updating Plan methods
         */
        handleUpdate()
        {
            let theFormData = new FormData();

            theFormData.append('product_slug', this.subscription.slug);
            theFormData.append('stripe_plan_id', this.plan.id);
            theFormData.append('nickname', this.formData.nickname);
            theFormData.append('active', this.formData.active);
            theFormData.append('trial_period_days', this.whenTrialPeriodIsEmpty(this.formData.trial_period_days));


            axios.post(
                '/admin/subscription/update/plan', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.success)
                {
                    this.onUpdateSuccessSubmit(response.data);
                }
                else
                {
                    this.onUpdateFailedSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response);

                this.errors.record(error.response.data.errors);

                this.onUpdateFailedSubmit();
            });
        },

        onUpdateSuccessSubmit(data)
        {
            // update this.plan data
            this.plan.nickname = data.plan.nickname;
            this.plan.active = data.plan.active;
            this.plan.trial_period_days = data.plan.trial_period_days;

            this.flags.loading_form = false;

            this.flags.status = STATUS_SUCCESS;

            this.setViewMode();
        },

        onUpdateFailedSubmit()
        {
            this.flags.loading_form = false;

            this.flags.status = STATUS_FAILED;
        },
        // End



        /**
         * Removing Plan methods
         */
        prepareRemove()
        {
            this.flags.confirm_remove = false;
            this.flags.loading_view = true;

            this.flags.status = STATUS_REMOVING;
        },

        handleRemove()
        {
            let theFormData = new FormData();

            theFormData.append('product_slug', this.subscription.slug);
            theFormData.append('stripe_plan_id', this.plan.id);            


            axios.post(
                '/admin/subscription/remove/plan', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.success)
                {
                    this.onRemoveSuccessSubmit(response.data);
                }
                else
                {
                    this.onRemoveFailedSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response);

                this.errors.record(error.response.data.errors);

                this.onRemoveFailedSubmit();
            });
        },

        onRemoveSuccessSubmit()
        {
            this.flags.loading_view = false;

            this.flags.status = STATUS_SUCCESS;

            // update parent component after removing existing plan
            this.onSuccessUpdateParent();
        },

        onRemoveFailedSubmit()
        {
            this.flags.loading_view = false;

            this.flags.status = STATUS_FAILED;
        },
        // End



        centsToDollars(cents)
        {
            return cents/100;
        },

        dollarsToCents(dollars)
        {
            return dollars*100;
        },

        whenTrialPeriodIsEmpty(value)
        {
            var period = value;
            if (period == null || period == '' || period == 'undefined')
            {
                return 0;
            }

            return value;
        },



        onSuccessUpdateParent()
        {
            this.$emit('onSuccessUpdateParent', {});
        },

        setViewMode()
        {
            this.flags.mode = 'view';
        },
        setEditMode()
        {
            this.flags.mode = 'edit';
        },

        showDebug(label, msg)
        {
            if (this.debug === true) {
                
                console.log(label,msg);
            }
        },
    },
}
</script>



<style>
.blured40 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.blured70 {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.blured80 {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.bg-lt-btn {
    background: #f2f2f2;
}
.plan-active {
    font-size: small;
    color: #28a745;
}
.plan-inactive {
    font-size: small;
    color: #dc3545;
}
</style>