<template>



    <div class="card">
        <div class="extra content">
            <label class="ui left floated yellow label" v-show="purchase.subscription == 1">subscription</label>
            <span class="right floated star">
                <i class="calendar alternate outline icon"></i>
                <span>{{ purchase.created_at | fromNowTime }}</span>
            </span>
        </div>


        <div class="content">
            <div class="header" v-text="purchase.product.name"></div>
        </div>


        <div class="content">
            <div class="ui small feed">
                <div class="event">
                    <div class="content">
                        <div class="summary">
                            Purchased by <a>{{ purchase.purchasable.name }}</a> 
                            for <a>${{ purchase.price }}</a> 
                            at <a>{{ purchase.created_at | localTime }}</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="ui small form" :class="{loading:flags.updatingStatus}">
                <div class="inline fields">
                    <label>Status</label>
                    <div class="field">
                        <select class="ui dropdown" v-model="formData.status" @change="updateStatus" :id="status_id">
                            <option v-for="(status, index) in storage.statuses" :key="index" :value="status" v-text="status"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="ui small form" :class="{loading:flags.updatingCompletion}">
                <div class="inline fields">
                    <label>Completion</label>
                    <div class="six wide field">
                        <div class="ui corner labeled input">
                            <input type="text" name="completion" value="" v-model="formData.completion" @change="updateCompletion">
                            <div class="ui corner label">
                                <i class="percent icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui form">
                <div class="field">
                    <input type="range" min="0" max="100" step="1" v-model="formData.completion" @change="updateCompletion" :disabled="flags.updatingCompletion">
                </div>
            </div>
        </div>


        <div class="ui bottom attached green progress" ref="progress" :id="progress_id">
            <div class="bar"></div>
        </div>
    </div>



</template>



<script>
  import Form from '../../core/Form.js';

  export default {
    props: ['purchase'],

    data: function(){

      return {

        storage: {
          statuses: ['Inactive', 'Awaiting Activation', 'Working On', 'Completed'],
        },

        formData: {
          status: 'Inactive',
          completion: 0,
        },

        flags: {
          updatingCompletion: false,
          updatingStatus: false,
        },

        classes: {
        }

      }

    },

    filters: {
      localTime: function (date) {
        return moment(date + ' Z', 'YYYY-MM-DD HH:mm:ss Z', true).format('D MMMM YYYY');
      },

      fromNowTime: function (date) {
        return moment(date + ' Z', 'YYYY-MM-DD HH:mm:ss Z', true).fromNow();
      },
    },


    created() {},


    mounted() {

        //initialize updating value
        this.formData.status = this.purchase.status;
        this.formData.completion = this.purchase.completion;

        // initialize progress bar
        var completion = parseInt(this.formData.completion);
        var id_slug = '#progress_' + this.purchase.slug;

        setTimeout(function(){ 
            $(id_slug).progress({
                percent: completion,
            });
        }, 2000);
    },


    computed: {
        progress_id() {
            return 'progress_' + this.purchase.slug;
        },

        status_id() {
            return 'status_' + this.purchase.slug;
        },
    },


    methods: {

        updateStatus() {

            if ( this.validateStatus(this.formData.status) ) {
            
                this.postUpdatedStatus();

            }
            else {

                this.formData.status = this.purchase.status;

                $('#status_' + this.purchase.slug).dropdown('set value', this.formData.status);

            }

        },

        postUpdatedStatus() {

            // flag true for loading UI
            this.flags.updatingStatus = true;

            let theFormData = new FormData();

            theFormData.append('purchase_slug', this.purchase.slug);

            theFormData.append('status', this.formData.status);




            // POST Request
            axios.post('/admin/payment-reports/purchase/updatestatus', theFormData, {

                headers: {
                    'Content-Type': 'multipart/form-data'
                }

            })
            .then(response => {

                // console.log(response);          

                if (response.data.status == 'success')
                {
                    this.purchase.status = this.formData.status;
                }
                else {
                    this.formData.status = this.purchase.status;

                    $('#status_' + this.purchase.slug).dropdown('set value', this.formData.status);
                }

                // revert flag to false
                this.flags.updatingStatus = false;

            })
            .catch(error => {

                // console.log(error);

                this.formData.status = this.purchase.status;

                $('#status_' + this.purchase.slug).dropdown('set value', this.formData.status);

                // revert flag to false
                this.flags.updatingStatus = false;

            });

        },

        validateStatus(val) {

            return this.storage.statuses.includes(val);

        },

        updateCompletion() {

            // filter to percent format
            this.formData.completion = this.customPercentFilter(this.formData.completion);

            // flag true for loading UI
            this.flags.updatingCompletion = true;

            var completion = this.formData.completion;
            var id_slug = '#progress_' + this.purchase.slug;

            $(id_slug).progress({
                percent: completion,
            });


            this.postUpdatedCompletion();
        },

        customPercentFilter(value) {

            value = parseInt(value);

            if (value > 100) value = 100;

            if (value < 0) value = 0;

            return value;

        },

        postUpdatedCompletion() {

            let theFormData = new FormData();

            theFormData.append('purchase_slug', this.purchase.slug);

            theFormData.append('completion', this.formData.completion);




            // POST Request
            axios.post('/admin/payment-reports/purchase/updatecompletion', theFormData, {

                headers: {
                    'Content-Type': 'multipart/form-data'
                }

            })
            .then(response => {

                // console.log(response);          

                if (response.data.status == 'success')
                {

                    this.purchase.completion = this.formData.completion;

                }
                else {

                    this.formData.completion = this.purchase.completion;

                }

                // revert flag to false
                this.flags.updatingCompletion = false;

            })
            .catch(error => {

                // console.log(error);

                this.formData.completion = this.purchase.completion;

                // revert flag to false
                this.flags.updatingCompletion = false;

            });

      }
    },
  }
</script>



<style>
</style>