<template>

  <div class="ui main fluid container segment basic">

    <div class="ui active inverted dimmer" v-show="flags.loading">
        <div class="ui text loader">Loading</div>
    </div>


    <div class="ui cards" v-show="purchases_count > 0">

        <products-sold
            v-for="(purchase, index) in purchases"
            v-bind:purchase="purchase"
            v-bind:index="index"
            v-bind:key="purchase.slug"
        ></products-sold>

    </div>

    <div class="ui container message align center" v-show="purchases_count < 1">
        <p>No Products had been sold yet</p>
    </div>

  </div>

</template>



<script>
    export default {
        props: ['purchases'],

        data: function(){
            return {

                flags: {
                    loading: true,
                },

            }
        },

        created() {},

        mounted() {

            var vm = this;

            setTimeout(function(){
                vm.flags.loading = false;
            }, 1000);      

        },

        computed: {
            purchases_count() {
                return Object.keys(this.purchases).length;
            }
        },

        methods: {
        },
    }
</script>



<style>
</style>