// Fonts

// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "~bootstrap/scss/bootstrap";


// // Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// // Variables
// @import "variables";

// // Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

.wellcome_area {
    padding-top:150px !important;
    top: -60px;
    position: relative;
    background-image: url(https://adgeeks.co/public/images/home/bg-img/welcome-bg.png);
    height: 600px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}