<template>


    <div class="ui main fluid container segment basic">

        <div class="ui active inverted dimmer" v-show="flags.loading">
            <div class="ui text loader">Loading</div>
        </div>



        <div class="ui comments" v-show="canViewProductUrl">
            <div class="comment">
                <div class="content">
                    <div class="actions">
                        <a class="reply" target="_blank" :href="productUrl" v-text="productUrl"></a>
                    </div>
                </div>
            </div>
        </div>



        <product-crud-basic 
        @nextComponent="loadNextComponent" 
        :setEnabled="components.basic.enabled" 
        :setMode="components.basic.mode" 
        :readonly="flags.readonly" 
        :product="product"></product-crud-basic>

        <product-crud-image 
        v-show="components.image.enabled" 
        @nextComponent="loadNextComponent" 
        :setEnabled="components.image.enabled" 
        :setMode="components.image.mode" 
        :readonly="flags.readonly" 
        :product="product"></product-crud-image>

        <product-crud-payment-method 
        v-show="components.paymentmethod.enabled" 
        @nextComponent="loadNextComponent" 
        :setEnabled="components.paymentmethod.enabled" 
        :setMode="components.paymentmethod.mode" 
        :readonly="flags.readonly" 
        :product="product"></product-crud-payment-method>

        <product-crud-pricing 
        v-show="components.pricing.enabled" 
        @nextComponent="loadNextComponent" 
        :setEnabled="components.pricing.enabled" 
        :setMode="components.pricing.mode" 
        :readonly="flags.readonly" 
        :product="product"></product-crud-pricing>

        <product-crud-misc 
        v-show="components.misc.enabled" 
        @nextComponent="loadNextComponent" 
        :setEnabled="components.misc.enabled" 
        :setMode="components.misc.mode" 
        :readonly="flags.readonly" 
        :product="product"></product-crud-misc>

        <product-crud-visibility 
        v-show="components.visibility.enabled" 
        @nextComponent="loadNextComponent" 
        :setEnabled="components.visibility.enabled" 
        :setMode="components.visibility.mode" 
        :readonly="flags.readonly" 
        :product="product"></product-crud-visibility>


        <div class="bottom-spacer"></div>

    </div>


</template>



<script>
export default {
    props: {
        setmode: {
            type: String,
            default: 'create'
        },
        // readonly: {
        //     type: Boolean,
        //     default: false
        // },
        receivingproduct: {
            type: Object,
        },
    },

    data: function(){
        return {
            components: {
                basic: {
                    enabled: true,
                    mode: 'create',
                    readonly: false,
                },
                image: {
                    enabled: false,
                    mode: 'create',
                    readonly: false,
                },
                paymentmethod: {
                    enabled: false,
                    mode: 'create',
                    readonly: false,
                },
                pricing: {
                    enabled: false,
                    mode: 'create',
                    readonly: false,
                },
                misc: {
                    enabled: false,
                    mode: 'create',
                    readonly: false,
                },
                visibility: {
                    enabled: false,
                    mode: 'create',
                    readonly: false,
                },
            },

            flags: {
                loading: true,
                showProductUrl: false,
                readonly: false,
            },

            product: {
                image: 'storage/products/default.png',
            },
        }
    },

    created()
    {
        // set all to create mode
        if (this.setmode === 'create') {
            
            this.setAllCreateMode();
        }

        // set all to edit mode
        if (this.setmode === 'edit') {

            this.product = this.receivingproduct;

            this.setAllEditingMode();
        }

        // set all to view mode
        if (this.setmode === 'view') {

            this.product = this.receivingproduct;
            
            this.setAllViewMode();
        }


        String.prototype.toProperCase = function () {
            return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        };
    },

    mounted()
    {
        var vm = this;
        
        // init fake loader
        setTimeout(function(){
            vm.flags.loading = false;
        }, 500);
    },

    computed: {
        canViewProductUrl()
        {
            return this.flags.showProductUrl && this.setmode != 'view';
        },
        productUrl()
        {
            return window.location.protocol + '//' + window.location.hostname + '/admin/product/view/' + this.product.slug;
        },
    },

    methods: {
        loadNextComponent(e)
        {
            if(e.from == 'basic') {
                this.product = e.product;
                this.components.image.enabled = true;

                this.flags.showProductUrl = true;
            }

            if(e.from == 'image') {
                this.product = e.product;
                this.components.paymentmethod.enabled = true;
            }

            if(e.from == 'paymentmethod') {
                this.product = e.product;
                this.components.pricing.enabled = true;
            }

            if(e.from == 'pricing') {
                this.product = e.product;
                this.components.misc.enabled = true;
            }

            if(e.from == 'misc') {
                this.product = e.product;
                this.components.visibility.enabled = true;
            }

            if(e.from == 'visibility') {
                this.product = e.product;
            }
        },

        setAllCreateMode()
        {
            this.components.basic.enabled = true;
            this.components.basic.mode = 'create';

            this.components.image.enabled = false;
            this.components.image.mode = 'create';

            this.components.paymentmethod.enabled = false;
            this.components.paymentmethod.mode = 'create';

            this.components.pricing.enabled = false;
            this.components.pricing.mode = 'create';

            this.components.misc.enabled = false;
            this.components.misc.mode = 'create';

            this.components.visibility.enabled = false;
            this.components.visibility.mode = 'create';
        },

        setAllViewMode()
        {
            this.flags.showProductUrl = true;

            this.flags.readonly = true;

            this.components.basic.enabled = true;
            this.components.basic.mode = 'view';

            this.components.image.enabled = true;
            this.components.image.mode = 'view';

            this.components.paymentmethod.enabled = true;
            this.components.paymentmethod.mode = 'view';

            this.components.pricing.enabled = true;
            this.components.pricing.mode = 'view';

            this.components.misc.enabled = true;
            this.components.misc.mode = 'view';

            this.components.visibility.enabled = true;
            this.components.visibility.mode = 'view';
        },

        setAllEditingMode()
        {
            this.flags.showProductUrl = true;

            this.components.basic.enabled = true;
            this.components.basic.mode = 'edit';

            this.components.image.enabled = true;
            this.components.image.mode = 'view';

            this.components.paymentmethod.enabled = true;
            this.components.paymentmethod.mode = 'edit';

            this.components.pricing.enabled = true;
            this.components.pricing.mode = 'edit';

            this.components.misc.enabled = true;
            this.components.misc.mode = 'edit';

            this.components.visibility.enabled = true;
            this.components.visibility.mode = 'edit';
        },
    },
}
</script>



<style>
.bottom-spacer {
    height: 200px;
}
</style>