<template>


    <div>

        <div 
        class="ui large form" 
        :class="{loading:flags.loading_form, error:errors.any()}"  
        v-show="isShowForm">
            <div class="field" :class="{error:errors.has('name')}">
                <label>Name</label>
                <input 
                v-model="formData.name" 
                type="text" 
                name="name" 
                placeholder="product name" 
                :required="isRequired('name')" 
                @keyup.enter="onCreate" 
                v-focus>
            </div>

            <div class="ui tiny message" 
            :class="{error:errors.has('name')}" 
            v-show="errors.hasNotEmpty('name')">
                <li v-text="errors.get('name')"></li>
            </div>

            <div class="field"
            :class="{error:errors.has('description')}">
                <label>Description</label>
                <textarea-autosize 
                v-model="formData.description" 
                :required="isRequired('description')" 
                placeholder="description" 
                rows="2" 
                maxlength="150"></textarea-autosize>
            </div>

            <div class="ui tiny message" 
            :class="{error:errors.has('description')}" 
            v-show="errors.hasNotEmpty('description')">
                <li v-text="errors.get('description')"></li>
            </div>


            <div class="ui two column centered grid" v-show="isModeCreate">
                <div class="column bg-lt-btn">
                    <button class="ui fluid button" @click="onCreate">Create &amp; Continue</button>
                </div>
            </div>

            <div class="ui four column centered grid" v-show="isModeEdit">
                <div class="column bg-lt-btn">
                    <button class="fluid ui button" @click="onCancelUpdate">Cancel</button>
                </div>

                <div class="column bg-lt-btn">
                    <button class="fluid ui button" @click="onUpdate">Save</button>
                </div>
            </div>
        </div>



        <div 
        class="ui large form" 
        v-show="isShowView">
            <div class="field">
                <label>Name</label>
                <p v-text="formData.name"></p>
            </div>

            <div class="field">
                <label>Description</label>
                <p class="pre" v-show="formData.description" v-html="formData.description"></p>

                <img 
                v-show="!formData.description" 
                class="ui large image blured30" 
                src="/images/semantics/wireframe/short-paragraph.png" />
            </div>

            <button 
            class="ui orange right floated button" 
            :class="{blured20:flags.isEditButtonBlured}" 
            v-show="!readonly" 
            @mouseover="flags.isEditButtonBlured=false" 
            @mouseleave="flags.isEditButtonBlured=true" 
            @click="setEditMode">Edit</button>
        </div>        

    </div>


</template>



<script>
import Errors from '../../core/Errors.js';

export default {
    props: {
        setMode: {
            type: String,
            default: 'create'
        },
        readonly: {
            type: Boolean,
            default: false
        },
        product: {
            type: Object,
            default: {}
        }
    },

    data: function(){
        return {
            flags: {
                debug: false,
                loading_form: false,
                mode: 'create',
                isEditButtonBlured: true,
            },

            formData: {
                name: '',
                description: '',
            },

            validate: {
                required: ['name'],
            },

            allowed_modes: ['create', 'view', 'edit'],

            errors: new Errors(),
        }
    },

    created()
    {
        // initialize the mode provided by parent container
        if (this.setMode != null && this.setMode != undefined && this.allowed_modes.includes(this.setMode))
        {
            this.flags.mode = this.setMode;
        }

        if (this.setMode == 'edit' || this.setMode == 'view') {

            this.formData.name = this.product.name;
            this.formData.description = this.product.description;
        }
    },

    mounted()
    {
        var vm = this;
        
        // init fake loader
        // setTimeout(function(){
        //     vm.flags.loading = false;
        // }, 5000);
    },

    computed: {
        isShowForm()
        {
            return this.flags.mode == 'create' || this.flags.mode == 'edit';
        },
        isShowView()
        {
            return this.flags.mode == 'view';
        },
        isModeCreate()
        {
            return this.flags.mode == 'create';
        },
        isModeEdit()
        {
            return this.flags.mode == 'edit';
        },

        getEscapedDescription()
        {
            if (this.formData.description !== '')
            {
                return this.formData.description.replace(new RegExp('\r?\n','g'), '<br />');
            }
            else{
                return this.formData.description;
            }
        },
    },

    methods: {
        onSubmit(e)
        {
        },

        onCreate(e)
        {
            // validate inputs
            if (!this.validateForm()){
                return false;
            }

            // prepare submit
            this.prepareSubmit();

            // submit
            this.handleCreateSubmit();
        },

        onUpdate()
        {
            // validate inputs
            if (!this.validateForm()){
                return false;
            }

            // prepare submit
            this.prepareSubmit();

            // submit
            this.handleUpdateSubmit();
        },

        onCancelUpdate()
        {
            this.formData.name = this.product.name;
            this.formData.description = this.product.description;

            this.setViewMode();
        },

        validateForm()
        {
            this.errors.clear();

            var vm = this;
            var valid = true;
            var errors = {};

            _.forEach(this.validate.required, function(value) {

                if ( _.get(vm.formData, value).trim() == '' ) 
                {
                    _.assign(errors, {[value]: ''});
                    
                    valid = false;
                }
            });

            this.errors.record(errors);

            return valid;
        },

        prepareSubmit()
        {
            this.flags.loading_form = true;
        },

        handleCreateSubmit()
        {
            let theFormData = new FormData();

            theFormData.append('name', this.formData.name);
            theFormData.append('description', this.formData.description);

            axios.post(
                '/admin/product/store/basic', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.status == 'success')
                {
                    this.setSuccessSubmit(response.data);
                }
                else
                {
                    this.setFailSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response);

                this.errors.record(error.response.data.errors);

                this.setFailSubmit();
            });
        },

        handleUpdateSubmit()
        {
            let theFormData = new FormData();

            theFormData.append('name', this.formData.name);
            theFormData.append('description', this.formData.description);
            theFormData.append('id', this.product.id);

            axios.post(
                '/admin/product/update/basic', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.status == 'success')
                {
                    this.setSuccessSubmit(response.data);
                }
                else
                {
                    this.setFailSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response);

                this.errors.record(error.response.data.errors);

                this.setFailSubmit();
            });
        },

        setSuccessSubmit(data)
        {
            this.flags.loading_form = false;

            this.product = data.product;

            this.enableNextForm();
            this.setViewMode();
        },

        setFailSubmit()
        {
            this.flags.loading_form = false;
        },
        
        enableNextForm(slug)
        {
            this.$emit('nextComponent', {from:'basic',product:this.product});
        },

        setViewMode()
        {
            this.flags.mode = 'view';
        },

        setEditMode()
        {
            this.flags.mode = 'edit';
        },

        isRequired(field)
        {
            return this.validate.required.includes(field);
        },

        showDebug(label, msg)
        {
            if (this.flags.debug === true) {
                
                console.log(label,msg);
            }
        }
    },
}
</script>



<style>
.blured100 {
    opacity: 1;
    filter: alpha(opacity=100);
}
.blured20 {
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.blured30 {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.bg-lt-btn {
    background: #f2f2f2;
}
.pre {
    white-space: pre-wrap; 
    word-wrap: break-word
}
</style>