<template>


    <div :class="{blured20:isSectionDisabled}">

        <h1 class="ui dividing header m-t-60">
            <div class="sub header">Choose the payment method</div>
        </h1>



        <div 
        class="ui large form" 
        :class="{loading:flags.loading_form}" 
        v-show="isShowForm">

            <div class="field">
                <div class="two ui huge buttons">
                    <button class="ui button" 
                    :class="{positive:isOneTime}" 
                    @click="setPaymentMethod(allowed_payment_method[0])" 
                    :disabled="isSectionDisabled">
                        One Time Pay
                    </button>
                    <div class="or"></div>
                    <button class="ui button" 
                    :class="{positive:isSubscription}" 
                    @click="setPaymentMethod(allowed_payment_method[1])" 
                    :disabled="isSectionDisabled">
                        Subscription
                    </button>
                </div>
            </div>

            <div class="ui two column centered grid" v-show="isModeCreate">
                <div class="column bg-lt-btn">
                    <button 
                    class="fluid ui button" 
                    :disabled="!canUpdate" 
                    @click="onUpdate">Save &amp; Continue</button>
                </div>
            </div>

            <div class="ui four column centered grid" v-show="isModeEdit">
                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canSkip" @click="onSkip">Cancel</button>
                </div>

                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canUpdate" @click="onUpdate">Save</button>
                </div>
            </div>

        </div>



        <div v-show="isModeView">
            <h3 class="ui header" v-text="formData.payment_method"></h3>

            <button 
            class="ui orange right floated button" 
            :class="{blured20:flags.isEditButtonBlured}" 
            v-show="!readonly" 
            @mouseover="flags.isEditButtonBlured=false" 
            @mouseleave="flags.isEditButtonBlured=true" 
            @click="setEditMode">Change</button>
        </div>

    </div>


</template>



<script>
import Errors from '../../core/Errors.js';

const STATUS_INITIAL = 0, 
    STATUS_SAVING = 1, 
    STATUS_SUCCESS = 2, 
    STATUS_FAILED = 3;

export default {
    props: {
        setEnabled: {
            type: Boolean,
            default: false
        },
        setMode: {
            type: String,
            default: 'create'
        },
        readonly: {
            type: Boolean,
            default: false
        },
        product: {
            type: Object,
            default: {}
        }
    },

    data: function(){
        return {
            flags: {
                debug: false,
                loading_form: false,
                disabled: true,
                mode: 'create',
                isEditButtonBlured: true,
                status: STATUS_INITIAL,
            },

            formData: {
                payment_method: 'One Time Pay',
            },

            allowed_modes: ['create', 'view', 'edit'],

            allowed_payment_method: ['One Time Pay', 'Subscription'],

            errors: new Errors(),
        }
    },

    created()
    {
        // initialize the mode provided by parent container
        if (this.setMode != null && this.setMode != undefined && this.allowed_modes.includes(this.setMode))
        {
            this.flags.mode = this.setMode;
        }

        if (this.setMode == 'edit' || this.setMode == 'view') {

            this.formData.payment_method = this.product.payment_method.toProperCase();
        }
    },

    mounted()
    {
        var vm = this;
        
        // init fake loader
        // setTimeout(function(){
        //     vm.flags.loading = false;
        // }, 5000);
    },

    computed: {
        isSectionDisabled()
        {
            return this.flags.disabled = !this.setEnabled;
        },

        isShowForm()
        {
            return this.flags.mode == 'create' || this.flags.mode == 'edit';
        },
        isModeCreate()
        {
            return this.flags.mode == 'create';
        },
        isModeView()
        {
            return this.flags.mode == 'view';
        },
        isModeEdit()
        {
            return this.flags.mode == 'edit';
        },

        isOneTime()
        {
            return (this.formData.payment_method == 'One Time Pay');
        },
        isSubscription()
        {
            return (this.formData.payment_method == 'Subscription');
        },

        canUpdate()
        {
            return this.flags.status !== STATUS_SAVING;
        },
        canSkip()
        {
            return this.flags.status !== STATUS_SAVING;
        },
    },

    methods: {
        onUpdate(e)
        {
            // validate and set default value if not valid
            var valid = this.validateForm();
            if (!valid)
            {
                this.formData.payment_method = this.allowed_payment_method[0];
            }

            // prepare submit
            this.prepareSubmit();


            // start submit
            let theFormData = new FormData();

            theFormData.append('payment_method', this.formData.payment_method);
            theFormData.append('slug', this.product.slug);

            axios.post(
                '/admin/product/update/paymentmethod', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.status == 'success')
                {
                    this.setSuccessSubmit(response.data);
                }
                else
                {
                    this.errors.record(error.response.data.errors);

                    this.setFailSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response.data.message);

                this.errors.record(error.response.data.errors);

                this.setFailSubmit();
            });
        },

        validateForm()
        {
            if ( !this.allowed_payment_method.includes(this.formData.payment_method) )
            {
                return false;
            }

            return true;
        },

        prepareSubmit()
        {
            this.flags.loading_form = true;

            this.flags.status = STATUS_SAVING;
        },

        setSuccessSubmit(data)
        {
            this.product.payment_method = data.product.payment_method;

            this.flags.loading_form = false;

            this.flags.status = STATUS_SUCCESS;

            this.enableNextForm();
            this.setViewMode();
        },

        setFailSubmit()
        {
            this.flags.loading_form = false;

            this.flags.status = STATUS_FAILED;

            // this.enableNextForm();
            // this.setViewMode();
        },

        setPaymentMethod($method = 'One Time Pay') 
        {
            // check if value is valid
            if ( !this.allowed_payment_method.includes($method)) {

                this.formData.payment_method = 'One Time Pay';
                
                return;
            }

            this.formData.payment_method = $method;
        },

        onSkip()
        {
            this.formData.payment_method = this.product.payment_method.toProperCase();

            this.enableNextForm();
            this.setViewMode();
        },

        
        enableNextForm()
        {
            this.$emit('nextComponent', {from:'paymentmethod', product:this.product});
        },

        setViewMode()
        {
            this.flags.mode = this.allowed_modes[1];
        },

        setEditMode()
        {
            this.flags.mode = this.allowed_modes[2];
        },

        showDebug(label, msg)
        {
            if (this.flags.debug === true) {
                
                console.log(label,msg);
            }
        },
    },
}
</script>



<style>
.blured20 {
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.bg-lt-btn {
    background: #f2f2f2;
}
</style>