<template>


    <div :class="{blured20:isSectionDisabled}" >

        <h1 class="ui dividing header m-t-60">
            <div class="sub header">Pricing</div>
        </h1>



        <form 
        class="ui large form" 
        :class="{loading:flags.loading_form, error:errors.any()}" 
        v-show="isShowForm" 
        @submit.prevent="onUpdate">

            <div class="fields">
                <div class="seven wide field">
                    <div class="ui huge buttons">
                        <a 
                        :class="{ui:true, positive:isSingular, button:true}" 
                        @click="setPricingType(allowed_pricing_type[0])">Singular</a>
                        <div class="or"></div>
                        <a 
                        :class="{ui:true, positive:isVariation, button:true}" 
                        @click="setPricingType(allowed_pricing_type[1])">Variations</a>
                    </div>
                </div>

                <div class="four wide field" 
                :class="{error:errors.has('s_pricing_amount')}" 
                v-show="isSingular">
                    <div class="ui left icon input" 
                    :class="{error:errors.has('s_pricing_amount')}">
                        <input 
                        v-model="formData.s_pricing.amount" 
                        type="decimal" 
                        name="s_pricing_amount" 
                        placeholder="amount" 
                        :required="isSingular">
                        <i class="dollar icon"></i>
                    </div>
                </div>

                <div class="five wide field" 
                :class="{error:errors.has('s_pricing_period')}" 
                v-show="isSingular && isSubscription">
                    <div class="ui left icon input">
                        <div class="ui right labeled input" 
                        :class="{error:errors.has('s_pricing_period')}">
                            <input 
                            v-model="formData.s_pricing.period" 
                            type="decimal" 
                            name="s_pricing_period" 
                            placeholder="number of month(s)" 
                            :required="isSingular && isSubscription">
                            
                            <div class="ui label">month(s)</div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- error message for singular pricing -->
            <div class="fields" v-show="isSingular">
                <div class="sixteen wide field">
                    <div class="ui tiny message" 
                    :class="{error:errors.has('s_pricing_amount')}" 
                    v-show="errors.hasNotEmpty('s_pricing_amount')">
                        <li v-text="errors.get('s_pricing_amount')"></li>
                    </div>

                    <div class="ui tiny message" 
                    :class="{error:errors.has('s_pricing_period')}"
                    v-show="errors.hasNotEmpty('s_pricing_period')">
                        <li v-text="errors.get('s_pricing_period')"></li>
                    </div>
                </div>
            </div>




            <div id="v-pricing-wrapper" v-show="isVariation">

                <div
                v-for="(v_price, index) in formData.v_pricing"
                :key="index"
                class="fields">
                    <!-- remove widget -->
                    <div class="one wide field">
                        <div class="ui small basic icon buttons">
                            <a class="ui button hide" tabindex="0"><i class="compress icon"></i></a>
                            <div 
                            @click="removeVPrice(index)" 
                            :disabled="!canRemoveVPrice"
                            class="ui button" 
                            tabindex="0">
                                <i class="trash alternate outline red icon"></i>
                            </div>
                        </div>
                    </div>

                    <!-- price name -->
                    <div class="five wide field" :class="{error:errors.has('v_pricing_name.'+index)}">
                        <input 
                        v-model="v_price.name" 
                        type="text" 
                        name="v_pricing_name[]" 
                        placeholder="price name" 
                        :required="isVariation">
                    </div>

                    <!-- price amount / period / default -->
                    <div class="ten wide field">
                        <div class="ui equal width grid">
                            <div class="column">
                                <div class="ui left icon input" :class="{error:errors.has('v_pricing_amount.'+index)}">
                                    <i class="dollar icon"></i>
                                    <input 
                                    v-model="v_price.amount" 
                                    type="decimal" 
                                    name="v_pricing_amount[]" 
                                    placeholder="amount" 
                                    :required="isVariation">
                                </div>
                            </div>

                            <div class="column"
                            v-show="isSubscription">
                                <div class="ui left icon input" :class="{error:errors.has('v_pricing_period.'+index)}">
                                    <i class="calendar icon"></i>
                                    <input 
                                    v-model="v_price.period" 
                                    type="decimal" 
                                    name="v_pricing_period[]" 
                                    placeholder="month" 
                                    :required="isVariation && isSubscription">
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui radio checkbox">
                                    <input 
                                    class="hidden" 
                                    @change="changeVPriceDefault(v_price)" 
                                    type="radio" 
                                    name="v_pricing_default[]" 
                                    tabindex="0" 
                                    :checked="v_price.default">
                                    <label>Default</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div @click="addVPrice($event)" class="ui bottom attached button" tabindex="0">Add Price</div>


                <!-- error message for singular pricing -->
                <div class="fields" v-show="isVariation">
                    <div class="sixteen wide field">
                        <div class="ui tiny message error" 
                        v-show="errors.hasAWord('v_pricing_name')" >
                            <li v-text="errors.searchAndGet('v_pricing_name')"></li>
                        </div>

                        <div class="ui tiny message error" 
                        v-show="errors.hasAWord('v_pricing_amount')">
                            <li v-text="errors.searchAndGet('v_pricing_amount')"></li>
                        </div>

                        <div class="ui tiny message error" 
                        v-show="errors.hasAWord('v_pricing_period')">
                            <li v-text="errors.searchAndGet('v_pricing_period')"></li>
                        </div>
                    </div>
                </div>

            </div>



            <div style="clear:both">&nbsp;</div>

            <div class="ui two column centered grid" v-show="isModeCreate">
                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canUpdate">Save &amp; Continue</button>
                </div>
            </div>

            <div class="ui four column centered grid" v-show="isModeEdit">
                <div class="column bg-lt-btn">
                    <div class="fluid ui button" :disabled="!canSkip" @click="onSkip">Cancel</div>
                </div>

                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canUpdate">Save</button>
                </div>
            </div>

        </form>



        <div v-show="isModeView">
            <div v-show="isSingular">
                <h3 class="ui header">
                    ${{ formData.s_pricing.amount }}
                    <span v-show="isSubscription">per {{ formData.s_pricing.period }} month(s)</span>
                </h3>
            </div>

            <ul v-show="isVariation">
                <li 
                class="ui" 
                v-for="(v_pricing, index) in formData.v_pricing" 
                :key="index">
                    {{ v_pricing.name }} - ${{ v_pricing.amount }} 
                    <span v-show="isSubscription">per {{ v_pricing.period }} month(s)</span>
                    <span v-show="v_pricing.default == true"> - Default</span>
                </li>
            </ul>



            <button 
            class="ui orange right floated button" 
            :class="{blured20:flags.isEditButtonBlured}" 
            v-show="!readonly" 
            @mouseover="flags.isEditButtonBlured=false" 
            @mouseleave="flags.isEditButtonBlured=true" 
            @click="setEditMode">Edit</button>
        </div>

    </div>


</template>



<script>
import Errors from '../../core/Errors.js';

const STATUS_INITIAL = 0, 
    STATUS_SAVING = 1, 
    STATUS_SUCCESS = 2, 
    STATUS_FAILED = 3;

export default {
    props: {
        setEnabled: {
            type: Boolean,
            default: false
        },
        setMode: {
            type: String,
            default: 'create'
        },
        readonly: {
            type: Boolean,
            default: false
        },
        product: {
            type: Object,
            default: {}
        }
    },

    data: function(){
        return {
            flags: {
                debug: false,
                loading_form: false,
                disabled: true,
                mode: 'create',
                isEditButtonBlured: true,
                status: STATUS_INITIAL,
            },

            formData: {
                pricing_type: 'Singular',
                s_pricing: {
                    amount: null,
                    period: null,
                },
                v_pricing: [
                    {
                        name: '',
                        amount: null,
                        period: null,
                        default: true,
                    },
                    {
                        name: '',
                        amount: null,
                        period: null,
                        default: false,
                    },
                ],
            },

            allowed_modes: ['create', 'view', 'edit'],

            allowed_pricing_type: ['Singular', 'Variation'],

            errors: new Errors(),
        }
    },

    created()
    {
        // initialize the mode provided by parent container
        if (this.setMode != null && this.setMode != undefined && this.allowed_modes.includes(this.setMode))
        {
            this.flags.mode = this.setMode;
        }

        if (this.setMode == 'edit' || this.setMode == 'view') {

            this.formData.pricing_type = this.product.pricing_type.toProperCase();

            this.formData.s_pricing.amount = this.product.singular_price;
            this.formData.s_pricing.period = this.product.singular_subscription_period;

            if (this.product.pricing_type == 'variation')
            {
                this.formData.v_pricing = JSON.parse(this.product.variation_prices);
            }
        }
    },

    mounted()
    {
        var vm = this;
        
        // init fake loader
        // setTimeout(function(){
        //     vm.flags.loading = false;
        // }, 5000);
    },

    computed: {
        isSectionDisabled()
        {
            return this.flags.disabled = !this.setEnabled;
        },

        isShowForm()
        {            
            return this.flags.mode == 'create' || this.flags.mode == 'edit';
        },
        isModeCreate()
        {
            return this.flags.mode == 'create';
        },
        isModeView()
        {
            return this.flags.mode == 'view';
        },
        isModeEdit()
        {
            return this.flags.mode == 'edit';
        },

        isSubscription()
        {
            return this.product.payment_method === 'subscription';
        },
        isSingular()
        {
            return (this.formData.pricing_type == this.allowed_pricing_type[0]); //Singular
        },
        isVariation()
        {
            return (this.formData.pricing_type == this.allowed_pricing_type[1]); //Variation
        },

        canRemoveVPrice()
        {
            return this.formData.v_pricing.length > 1;
        },

        canUpdate()
        {
            return this.flags.status !== STATUS_SAVING;
        },
        canSkip()
        {
            return this.flags.status !== STATUS_SAVING;
        },
    },

    methods: {
        onUpdate(e)
        {
            // validate form
            // var valid = this.validateForm();
            // if (!valid)
            // {
            //     return false;
            // }

            // prepare submit
            this.prepareSubmit();

            // handle form data
            if (this.isSingular) {
                this.handleSingularFormData();
            }

            if (this.isVariation) {
                this.handleVariationFormData();
            }
        },

        prepareSubmit()
        {
            this.flags.loading_form = true;

            this.flags.status = STATUS_SAVING;
        },

        validateForm()
        {
            if (this.isSingular)
            {
                if ( !$.isNumeric(this.formData.s_pricing.amount) )
                {
                    this.errors.record({s_pricing_amount:['The amount should be a valid price format.']});

                    return false;
                }

                if( !this.isInt(this.formData.s_pricing.period) )
                {
                    this.errors.record({s_pricing_period:['The number of month for subscription must be a positive number.']});

                    return false;
                }

                return true;
            }

            if (this.isVariation)
            {
                return false;
            }

            return false;
        },

        handleSingularFormData()
        {
            var theFormData = new FormData();

            theFormData.append('slug', this.product.slug);
            theFormData.append('s_pricing_amount', this.formData.s_pricing.amount);
            if (this.isSubscription) {
                theFormData.append('s_pricing_period', this.formData.s_pricing.period);
            }

            axios.post(
                '/admin/product/update/pricing/singular', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.status == 'success')
                {
                    this.setSingularSuccessSubmit(response.data);
                }
                else
                {
                    this.errors.record(error.response.data.errors);

                    this.setSingularFailSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response);

                this.errors.record(error.response.data.errors);

                this.setSingularFailSubmit();
            });
        },

        handleVariationFormData()
        {
            var theFormData = new FormData();

            theFormData.append('slug', this.product.slug);

            // populate formdata with the variation pricing
            var vm = this;
            _.forEach(this.formData.v_pricing, function(value, key) {

                theFormData.append('v_pricing_name[]', value.name);
                
                theFormData.append('v_pricing_amount[]', parseFloat(value.amount));

                if (vm.isSubscription) {
                    theFormData.append('v_pricing_period[]', value.period);
                }

                theFormData.append('v_pricing_default[]', value.default);
            });



            axios.post(
                '/admin/product/update/pricing/variation', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.status == 'success')
                {
                    this.setVariationSuccessSubmit(response.data);
                }
                else
                {
                    this.errors.record(error.response.data.errors);

                    this.setVariationFailSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response);

                this.errors.record(error.response.data.errors);

                this.setVariationFailSubmit();
            });
        },

        onSkip()
        {
            if (this.isSingular) {
                this.formData.s_pricing.amount = this.product.singular_price;
                this.formData.s_pricing.period = this.product.singular_subscription_period;
            }

            if (this.isVariation) {
                this.formData.v_pricing = JSON.parse(this.product.variation_prices);
            }

            this.enableNextForm();
            this.setViewMode();
        },

        setSingularSuccessSubmit(data)
        {
            // update the global product data
            this.product.singular_price = data.product.singular_price;
            this.product.singular_subscription_period = data.product.singular_subscription_period;

            // update formdata to get the decimal format of the updated product
            this.formData.s_pricing.amount = this.product.singular_price;
            this.formData.s_pricing.period = this.product.singular_subscription_period;

            this.flags.loading_form = false;

            this.flags.status = STATUS_SUCCESS;

            this.enableNextForm();
            this.setViewMode();
        },

        setSingularFailSubmit()
        {
            this.flags.loading_form = false;

            this.flags.status = STATUS_FAILED;

            this.enableNextForm();
            this.setViewMode();
        },

        setVariationSuccessSubmit(data)
        {
            // update the global product data
            this.product.pricing_type = data.product.pricing_type;
            this.product.variation_prices = data.product.variation_prices;

            // update formdata to get the decimal format of the updated product
            this.formData.v_pricing = JSON.parse(this.product.variation_prices);


            this.flags.loading_form = false;

            this.flags.status = STATUS_SUCCESS;

            this.enableNextForm();
            this.setViewMode();
        },

        setVariationFailSubmit()
        {
            this.flags.loading_form = false;

            this.flags.status = STATUS_FAILED;

            this.enableNextForm();
            this.setViewMode();
        },



        setPricingType(type=this.allowed_pricing_type[0])
        {
            if (!this.allowed_pricing_type.includes(type))
            {
                this.formData.pricing_type = this.allowed_pricing_type[0];

                return;
            }

            this.formData.pricing_type = type;
        },

        addVPrice(event)
        {
            this.formData.v_pricing.push({name:'', amount:null, period:null, default:false});

            setTimeout( () => $('.ui.radio.checkbox').checkbox(), 500 );
        },

        changeVPriceDefault(v_amount)
        {
            _.forEach(this.formData.v_pricing, function(value, key) {

                value.default = (value == v_amount);
            });
        },

        removeVPrice(index)
        {
            // prevent remove if theres only 1 v-price
            if ( this.formData.v_pricing.length < 2 )
            {
                return;
            }


            // flag if removing the default v-price
            if ( this.formData.v_pricing[index].default == true )
            {
                var assign_new_default = true;
            }


            this.formData.v_pricing.splice(index, 1);


            // assign new default v-price
            if (assign_new_default == true)
            {
                this.formData.v_pricing[0].default = true;
            }
        },



        
        enableNextForm()
        {
            this.$emit('nextComponent', {from:'pricing', product:this.product});
        },

        setViewMode()
        {
            this.flags.mode = 'view';
        },
        setEditMode()
        {
            this.flags.mode = 'edit';
        },

        showDebug(label, msg)
        {
            if (this.flags.debug === true) {
                
                console.log(label,msg);
            }
        },

        isInt(value)
        {
            return !isNaN(value) && (function(x) { return (x | 0) === x; })(parseFloat(value));
        }
    },
}
</script>



<style>
.blured20 {
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.bg-lt-btn {
    background: #f2f2f2;
}
</style>