<template>


    <div :class="{blured20:isSectionDisabled}">

        <h1 class="ui dividing header m-t-60">
            <div class="sub header">Miscellaneous</div>
        </h1>



        <div 
        class="ui large form" 
        :class="{loading:flags.loading_form, error:errors.any()}" 
        v-show="isShowForm">
            <div class="field" :class="{error:errors.has('activate_form_url')}">
                <label>Activation Form</label>

                <div class="ui labeled input">
                    <div class="ui dropdown label">
                        <div class="text" v-text="formData.protocol"></div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div 
                            class="item" 
                            @click="setProtocol(allowed_activation_form_protocols[0])" 
                            v-text="allowed_activation_form_protocols[0]"></div>
                            <div 
                            class="item" 
                            @click="setProtocol(allowed_activation_form_protocols[1])" 
                            v-text="allowed_activation_form_protocols[1]"></div>
                        </div>
                    </div>

                    <input 
                    v-model="formData.activate_form_url" 
                    @keyup.enter="onUpdate" 
                    type="text" 
                    name="activate_form_url" 
                    placeholder="Activation Form URL" 
                    :disabled="isSectionDisabled">
                </div>
            </div>


            <!-- error message for singular pricing -->
            <div class="fields">
                <div class="sixteen wide field">
                    <div class="ui tiny message" 
                    :class="{error:errors.has('activate_form_url')}" 
                    v-show="errors.hasNotEmpty('activate_form_url')">
                        <li v-text="errors.get('activate_form_url')"></li>
                    </div>
                </div>
            </div>

            <div style="clear:both">&nbsp;</div>



            <div class="ui four column centered grid" v-show="isModeCreate">
                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canSkip" @click="onSkip">Skip</button>
                </div>

                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canUpdate" @click="onUpdate">Save &amp; Continue</button>
                </div>
            </div>

            <div class="ui four column centered grid" v-show="isModeEdit">
                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canSkip" @click="onSkip">Cancel</button>
                </div>

                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canUpdate" @click="onUpdate">Save</button>
                </div>
            </div>
        </div>



        <div v-show="isModeView">
            <div class="ui large form">
                <div class="field">
                    <label>Activation Form:</label>
                    <p v-text="activationFormFullUrl"></p>
                </div>
            </div>

            <button 
            class="ui orange right floated button" 
            :class="{blured20:flags.isEditButtonBlured}" 
            v-show="!readonly" 
            @mouseover="flags.isEditButtonBlured=false" 
            @mouseleave="flags.isEditButtonBlured=true" 
            @click="setEditMode">Edit</button>
        </div>
    </div>


</template>



<script>
import Errors from '../../core/Errors.js';

const STATUS_INITIAL = 0, 
    STATUS_SAVING = 1, 
    STATUS_SUCCESS = 2, 
    STATUS_FAILED = 3;

export default {
    props: {
        setEnabled: {
            type: Boolean,
            default: false
        },
        setMode: {
            type: String,
            default: 'create'
        },
        readonly: {
            type: Boolean,
            default: false
        },
        product: {
            type: Object,
            default: {}
        }
    },

    data: function(){
        return {
            flags: {
                debug: false,
                loading_form: false,
                disabled: true,
                mode: 'create',
                isEditButtonBlured: true,
                status: STATUS_INITIAL,
            },

            formData: {
                protocol: 'http://',
                activate_form_url: '',
            },

            allowed_modes: ['create', 'view', 'edit'],

            allowed_activation_form_protocols: ['http://', 'https://'],

            errors: new Errors(),
        }
    },

    created()
    {
        // initialize the mode provided by parent container
        if (this.setMode != null && this.setMode != undefined && this.allowed_modes.includes(this.setMode))
        {
            this.flags.mode = this.setMode;
        }

        if (this.setMode == 'edit' || this.setMode == 'view') {

            if (this.product.activate_form_url != null) {

                if (this.product.activate_form_url.indexOf("https://") >= 0) {

                    this.formData.protocol = this.allowed_activation_form_protocols[1];
                    this.formData.activate_form_url = this.product.activate_form_url.replace(this.allowed_activation_form_protocols[1], '');
                }
                else {

                    this.formData.protocol = this.allowed_activation_form_protocols[0];
                    this.formData.activate_form_url = this.product.activate_form_url.replace(this.allowed_activation_form_protocols[0], '');
                }
            }
        }
    },

    mounted()
    {
        var vm = this;
        
        // init fake loader
        // setTimeout(function(){
        //     vm.flags.loading = false;
        // }, 5000);
    },

    computed: {
        isSectionDisabled()
        {
            return this.flags.disabled = !this.setEnabled;
        },

        isShowForm()
        {
            return this.flags.mode == 'create' || this.flags.mode == 'edit';
        },
        isModeCreate()
        {
            return this.flags.mode == 'create';
        },
        isModeView()
        {
            return this.flags.mode == 'view';
        },
        isModeEdit()
        {
            return this.flags.mode == 'edit';
        },

        activationFormFullUrl()
        {
            return this.formData.protocol + this.formData.activate_form_url;
        },

        canUpdate()
        {
            return this.flags.status !== STATUS_SAVING;
        },
        canSkip()
        {
            return this.flags.status !== STATUS_SAVING;
        },
    },

    methods: {
        onUpdate(e)
        {
            this.prepareSubmit();

            var theFormData = new FormData();

            theFormData.append('slug', this.product.slug);
            theFormData.append('activate_form_url', this.activationFormFullUrl);

            axios.post(
                '/admin/product/update/activationformurl', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.status == 'success')
                {
                    this.setSuccessSubmit(response.data);
                }
                else
                {
                    this.errors.record(error.response.data.errors);

                    this.setFailSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response);

                this.errors.record(error.response.data.errors);

                this.setFailSubmit();
            });
        },

        prepareSubmit()
        {
            this.flags.loading_form = true;

            this.flags.status = STATUS_SAVING;
        },

        setSuccessSubmit(data)
        {
            // update the parent product data
            this.product.activate_form_url = data.product.activate_form_url;

            this.flags.loading_form = false;

            this.flags.status = STATUS_FAILED;

            this.enableNextForm();
            this.setViewMode();
        },

        setFailSubmit()
        {
            this.flags.loading_form = false;

            this.flags.status = STATUS_FAILED;
        },

        onSkip()
        {
            // revert back formdata
            if (this.product.activate_form_url != null) {
                
                if (this.product.activate_form_url.indexOf("https://") >= 0) {

                    this.formData.protocol = this.allowed_activation_form_protocols[1];
                    this.formData.activate_form_url = this.product.activate_form_url.replace(this.allowed_activation_form_protocols[1], '');
                }
                else {

                    this.formData.protocol = this.allowed_activation_form_protocols[0];
                    this.formData.activate_form_url = this.product.activate_form_url.replace(this.allowed_activation_form_protocols[0], '');
                }
            }

            this.enableNextForm();
            this.setViewMode();
        },

        setProtocol(protocol = this.allowed_activation_form_protocols[0])
        {
            if(!this.allowed_activation_form_protocols.includes(protocol))
            {
                this.formData.protocol = this.allowed_activation_form_protocols[0];

                return;
            }

            this.formData.protocol = protocol;
        },


        
        enableNextForm()
        {
            this.$emit('nextComponent', {from:'misc', product:this.product});
        },

        setViewMode()
        {
            this.flags.mode = 'view';
        },

        setEditMode()
        {
            this.flags.mode = 'edit';
        },

        showDebug(label, msg)
        {
            if (this.flags.debug === true) {
                
                console.log(label,msg);
            }
        },
    },
}
</script>



<style>
.blured20 {
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.bg-lt-btn {
    background: #f2f2f2;
}
</style>