<template>


    <div :class="{blured20:isSectionDisabled}">

        <h1 class="ui dividing header m-t-60">
            <div class="sub header">Visibility (set to disable to save this product without making them available just yet)</div>
        </h1>



        <div 
        class="ui large form" 
        :class="{loading:flags.loading_form}" 
        v-show="isShowForm">

            <div class="field">
                <div class="two ui huge buttons">
                    <button class="ui button" 
                        :class="{positive:isVisible}" 
                        @click="setVisible()" 
                        :disabled="isSectionDisabled">
                        Enable
                    </button>
                    <div class="or"></div>
                    <button class="ui button"
                        :class="{positive:isHidden}" 
                        @click="setHidden()" 
                        :disabled="isSectionDisabled">
                        Disable
                    </button>
                </div>
            </div>

            <div class="ui two column centered grid" v-show="isModeCreate">
                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canUpdate" @click="onUpdate">Save &amp; Finalize</button>
                </div>
            </div>

            <div class="ui four column centered grid" v-show="isModeEdit">
                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canSkip" @click="onSkip">Cancel</button>
                </div>

                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canUpdate" @click="onUpdate">Save</button>
                </div>
            </div>

        </div>



        <div v-show="isModeView">
            <h3 class="ui header" v-text="getVisibilityText"></h3>

            <button 
            class="ui orange right floated button" 
            :class="{blured20:flags.isEditButtonBlured}" 
            v-show="!readonly" 
            @mouseover="flags.isEditButtonBlured=false" 
            @mouseleave="flags.isEditButtonBlured=true" 
            @click="setEditMode">Change</button>
        </div>

    </div>


</template>



<script>
import Errors from '../../core/Errors.js';

const STATUS_INITIAL = 0, 
    STATUS_SAVING = 1, 
    STATUS_SUCCESS = 2, 
    STATUS_FAILED = 3;

export default {
    props: {
        setEnabled: {
            type: Boolean,
            default: false
        },
        setMode: {
            type: String,
            default: 'create'
        },
        readonly: {
            type: Boolean,
            default: false
        },
        product: {
            type: Object,
            default: {}
        }
    },

    data: function(){
        return {

            flags: {
                debug: true,
                loading_form: false,
                disabled: true,
                mode: 'create',
                isEditButtonBlured: true,
                status: STATUS_INITIAL,
            },

            formData: {
                visibility: false,
            },

            allowed_modes: ['create', 'view', 'edit'],

            errors: new Errors(),
        }
    },

    created()
    {
        // initialize the mode provided by parent container
        if (this.setMode != null && this.setMode != undefined && this.allowed_modes.includes(this.setMode))
        {
            this.flags.mode = this.setMode;
        }

        if (this.setMode == 'edit' || this.setMode == 'view') {

            this.formData.visibility = this.product.disabled === 1? false : true;
        }
    },

    mounted()
    {
        var vm = this;
        
        // init fake loader
        // setTimeout(function(){
        //     vm.flags.loading = false;
        // }, 5000);
    },

    computed: {
        isSectionDisabled()
        {
            return this.flags.disabled = !this.setEnabled;
        },

        isShowForm()
        {
            return this.flags.mode == 'create' || this.flags.mode == 'edit';
        },
        isModeCreate()
        {
            return this.flags.mode == 'create';
        },
        isModeView()
        {
            return this.flags.mode == 'view';
        },
        isModeEdit()
        {
            return this.flags.mode == 'edit';
        },

        isVisible()
        {
            return this.formData.visibility == true;
        },
        isHidden()
        {
            return this.formData.visibility == false;
        },

        getVisibilityText()
        {
            return (this.formData.visibility == true)? 'Enabled' : 'Disabled';
        },

        canUpdate()
        {
            return this.flags.status !== STATUS_SAVING;
        },
        canSkip()
        {
            return this.flags.status !== STATUS_SAVING;
        },
    },

    methods: {
        onUpdate(e)
        {
            // prepare submit
            this.prepareSubmit();


            // start submit
            let theFormData = new FormData();

            var disabled = this.formData.visibility === true? 0 : 1;
            theFormData.append('disabled', disabled);
            theFormData.append('slug', this.product.slug);

            axios.post(
                '/admin/product/update/visibility', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.status == 'success')
                {
                    this.setSuccessSubmit(response.data);
                }
                else
                {
                    this.errors.record(error.response.data.errors);

                    this.setFailSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response.data.message);

                this.errors.record(error.response.data.errors);

                this.setFailSubmit();
            });
        },

        prepareSubmit()
        {
            this.flags.loading_form = true;

            this.flags.status = STATUS_SAVING;
        },

        setSuccessSubmit(data)
        {
            this.product.disabled = data.product.disabled;

            this.flags.loading_form = false;

            this.flags.status = STATUS_SUCCESS;

            this.enableNextForm();
            this.setViewMode();
        },

        setFailSubmit()
        {
            this.flags.loading_form = false;

            this.flags.status = STATUS_FAILED;

            // this.enableNextForm();
            // this.setViewMode();
        },

        setVisible() 
        {
            this.formData.visibility = true;
        },
        setHidden() 
        {
            this.formData.visibility = false;
        },

        onSkip()
        {
            this.formData.visibility = this.product.disabled === 1? false : true;

            this.enableNextForm();
            this.setViewMode();
        },


        
        enableNextForm()
        {
            this.$emit('nextComponent', {from:'visibility', product:this.product});
        },

        setViewMode()
        {
            this.flags.mode = this.allowed_modes[1];
        },

        setEditMode()
        {
            this.flags.mode = this.allowed_modes[2];
        },

        showDebug(label, msg)
        {
            if (this.flags.debug === true) {
                
                console.log(label,msg);
            }
        },
    },
}
</script>



<style>
.blured20 {
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.bg-lt-btn {
    background: #f2f2f2;
}
</style>