<template>


    <div class="ui main fluid container segment basic">

        <div class="ui active inverted dimmer" v-show="flags.loading">
            <div class="ui text loader">Loading</div>
        </div>



        <div class="ui comments" v-show="canViewSubscriptionUrl">
            <div class="comment">
                <div class="content">
                    <div class="actions">
                        <a class="reply" target="_blank" :href="subscriptionUrl" v-text="subscriptionUrl"></a>
                    </div>
                </div>
            </div>
        </div>



        <subscription-crud-basic 
        @nextComponent="loadNextComponent" 
        :setEnabled="components.basic.enabled" 
        :setMode="components.basic.mode" 
        :readonly="flags.readonly" 
        :subscription="subscription"></subscription-crud-basic>

        <subscription-crud-image 
        v-show="components.image.enabled" 
        @nextComponent="loadNextComponent" 
        :setEnabled="components.image.enabled" 
        :setMode="components.image.mode" 
        :readonly="flags.readonly" 
        :subscription="subscription"></subscription-crud-image>

        <subscription-crud-pricing 
        v-show="components.pricing.enabled" 
        @nextComponent="loadNextComponent" 
        :setEnabled="components.pricing.enabled" 
        :setMode="components.pricing.mode" 
        :readonly="flags.readonly" 
        :subscription="subscription"></subscription-crud-pricing>

        <subscription-crud-visibility 
        v-show="components.visibility.enabled" 
        @nextComponent="loadNextComponent" 
        :setEnabled="components.visibility.enabled" 
        :setMode="components.visibility.mode" 
        :readonly="flags.readonly" 
        :subscription="subscription"></subscription-crud-visibility>


        <div class="bottom-spacer"></div>

    </div>


</template>



<script>
export default {
    props: {
        setmode: {
            type: String,
            default: 'create'
        },
        // readonly: {
        //     type: Boolean,
        //     default: false
        // },
        receivingsubscription: {
            type: Object,
        },
    },

    data: function(){
        return {
            components: {
                basic: {
                    enabled: true,
                    mode: 'create',
                    readonly: false,
                },
                image: {
                    enabled: false,
                    mode: 'create',
                    readonly: false,
                },
                pricing: {
                    enabled: false,
                    mode: 'view',
                    readonly: false,
                },
                visibility: {
                    enabled: false,
                    mode: 'create',
                    readonly: false,
                },
            },

            flags: {
                loading: true,
                showSubscriptionUrl: false,
                readonly: false,
            },

            subscription: {
                image: 'storage/subscriptions/default.png',
            },
        }
    },

    created()
    {
        // set all to create mode
        if (this.setmode === 'create') {
            
            this.setAllToCreateMode();
        }

        // set all to edit mode
        if (this.setmode === 'edit') {

            this.subscription = this.receivingsubscription;

            this.setAllToEditingMode();
        }

        // set all to view mode
        if (this.setmode === 'view') {

            this.subscription = this.receivingsubscription;
            
            this.setAllToViewMode();
        }


        String.prototype.toProperCase = function () {
            return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        };
    },

    mounted()
    {
        var vm = this;
        
        // init fake loader
        setTimeout(function(){
            vm.flags.loading = false;
        }, 500);
    },

    computed: {
        canViewSubscriptionUrl()
        {
            return this.flags.showSubscriptionUrl && this.setmode != 'view';
        },
        subscriptionUrl()
        {
            return window.location.protocol + '//' + window.location.hostname + '/admin/subscription/view/' + this.subscription.slug;
        },
    },

    methods: {
        loadNextComponent(e)
        {
            if(e.from == 'basic') {
                this.subscription = e.subscription;
                this.components.image.enabled = true;

                this.flags.showSubscriptionUrl = true;
            }

            if(e.from == 'image') {
                this.subscription = e.subscription;
                this.components.pricing.enabled = true;

                if (this.components.pricing.mode == 'create')
                {
                    this.components.visibility.enabled = true;
                }
            }

            if(e.from == 'pricing') {
                this.components.visibility.enabled = true;
            }

            if(e.from == 'visibility') {
                this.subscription = e.subscription;
            }
        },

        setAllToCreateMode()
        {
            this.components.basic.enabled = true;
            this.components.basic.mode = 'create';

            this.components.image.enabled = false;
            this.components.image.mode = 'create';

            this.components.pricing.enabled = false;
            this.components.pricing.mode = 'create';

            this.components.visibility.enabled = false;
            this.components.visibility.mode = 'create';
        },

        setAllToViewMode()
        {
            this.flags.showSubscriptionUrl = true;

            this.flags.readonly = true;

            this.components.basic.enabled = true;
            this.components.basic.mode = 'view';

            this.components.image.enabled = true;
            this.components.image.mode = 'view';

            this.components.pricing.enabled = true;
            this.components.pricing.mode = 'view';

            this.components.visibility.enabled = true;
            this.components.visibility.mode = 'view';
        },

        setAllToEditingMode()
        {
            this.flags.showSubscriptionUrl = true;

            this.components.basic.enabled = true;
            this.components.basic.mode = 'edit';

            this.components.image.enabled = true;
            this.components.image.mode = 'view';

            this.components.pricing.enabled = true;
            this.components.pricing.mode = 'view';

            this.components.visibility.enabled = true;
            this.components.visibility.mode = 'edit';
        },
    },
}
</script>



<style>
.bottom-spacer {
    height: 200px;
}
</style>