<template>


    <div :class="{blured20:isSectionDisabled}">

        <h1 class="ui dividing header m-t-60">
            <div class="sub header">Upload image for this Subscription</div>
        </h1>



        <div 
        class="ui large form" 
        :class="{loading:flags.loading_form, error:errors.any()}" 
        v-show="isShowForm">

            <div :class="{field:true, error:errors.has('image')}">
                <input 
                type="file" 
                name="image" 
                ref="image" 
                :disabled="isSectionDisabled" 
                @change="onFileChange($event)" 
                accept="image/*">
            </div>

            <img 
            class="ui centered medium image" 
            id="image_preview" 
            v-show="isPreviewSuccess" 
            src="/storage/subscriptions/default.png" />

            <div class="ui tiny message" 
            :class="{error:errors.has('image')}" 
            v-show="errors.hasNotEmpty('image')">
                <li v-text="errors.get('image')"></li>
            </div>


            <div class="ui four column centered grid" v-show="isModeCreate">
                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canSkip" @click="onSkip">Skip</button>
                </div>

                <div class="column bg-lt-btn">
                    <button 
                    class="fluid ui button" 
                    :disabled="!canUpload" 
                    @click="onUpload">Save &amp; Continue</button>
                </div>
            </div>

            <div class="ui four column centered grid" v-show="isModeEdit">
                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canSkip" @click="onSkip">Cancel</button>
                </div>

                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canUpload" @click="onUpload">Save</button>
                </div>
            </div>

        </div>



        <div v-show="isModeView">
            <div v-html="imageHtml"></div>

            <button 
            class="ui orange right floated button" 
            :class="{blured20:flags.isEditButtonBlured}" 
            v-show="!readonly" 
            @mouseover="flags.isEditButtonBlured=false" 
            @mouseleave="flags.isEditButtonBlured=true" 
            @click="setEditMode">Change</button>
        </div>
    </div>


</template>



<script>
import Errors from '../../core/Errors.js';

const STATUS_INITIAL = 0, 
    STATUS_PREVIEW_SAVING = 1, 
    STATUS_PREVIEW_SUCCESS = 2, 
    STATUS_PREVIEW_FAILED = 3, 
    STATUS_SAVING = 4, 
    STATUS_SUCCESS = 5, 
    STATUS_FAILED = 6;

export default {
    props: {
        setEnabled: {
            type: Boolean,
            default: false
        },
        setMode: {
            type: String,
            default: 'create'
        },
        readonly: {
            type: Boolean,
            default: false
        },
        subscription: {
            type: Object,
            default: {
                image: 'storage/subscriptions/default.png'
            }
        }
    },

    data: function(){
        return {

            flags: {
                debug: false,
                loading_form: false,
                disabled: true,
                mode: 'create',
                isEditButtonBlured: true,
                status: STATUS_INITIAL,
            },

            formData: {
                image: '/storage/subscriptions/default.png',
            },

            allowed_modes: ['create', 'view', 'edit'],

            errors: new Errors(),
        }
    },

    created()
    {
        // initialize the mode provided by parent container
        if (this.setMode != null && this.setMode != undefined && this.allowed_modes.includes(this.setMode))
        {
            this.flags.mode = this.setMode;
        }
    },

    mounted()
    {
    },

    computed: {
        isSectionDisabled()
        {
            return this.flags.disabled = !this.setEnabled;
        },

        isShowForm()
        {
            return this.flags.mode == 'create' || this.flags.mode == 'edit';
        },
        isModeCreate()
        {
            return this.flags.mode == 'create';
        },
        isModeView()
        {
            return this.flags.mode == 'view';
        },
        isModeEdit()
        {
            return this.flags.mode == 'edit';
        },

        canSkip()
        {
            return this.flags.loading_form == false && this.flags.status !== STATUS_PREVIEW_SAVING && this.flags.status !== STATUS_SAVING;
        },
        canUpload()
        {
            return this.flags.loading_form == false && this.flags.status === STATUS_PREVIEW_SUCCESS;
        },

        imageUrl()
        {
            return '/' + this.subscription.image;
        },
        imageHtml()
        {
            return '<img class="ui centered medium image" src="'+this.imageUrl+'" />';
        },

        isPreviewSaving()
        {
            return this.flags.status == STATUS_PREVIEW_SAVING;
        },
        isPreviewSuccess()
        {
            return this.flags.status == STATUS_PREVIEW_SUCCESS;
        }
    },

    methods: {
        onFileChange(event)
        {
            // prepare submit
            this.preparePreview();

            // validate form
            var valid = this.validateForm(event.target.files, event.target.value);
            if (!valid) 
            {
                this.setFailPreview();
                return;
            }

            // process and render preview
            var image_preview = document.querySelector('#image_preview');
        
            let reader  = new FileReader();
            reader.readAsDataURL(event.target.files[0]);

            var vm = this;
            reader.onload = (function() {
                image_preview.src = reader.result;

                vm.setSuccessPreview();
            });
        },

        validateForm(fileList, fileValue)
        {
            if (fileList.length < 1)
            {
                return false;
            }


            // validate file extension
            var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

            if(!allowedExtensions.exec(fileValue))
            {
                this.errors.record({image:['The file is not a valid image. Must only select file type of jpg, jpeg, png and gif']});

                return false;
            }

            return true;
        },

        preparePreview()
        {
            this.flags.loading_form = true;
            this.flags.status = STATUS_PREVIEW_SAVING;
        },

        setSuccessPreview()
        {
            this.flags.loading_form = false;
            this.flags.status = STATUS_PREVIEW_SUCCESS;
        },

        setFailPreview()
        {
            this.flags.loading_form = false;
            this.flags.status = STATUS_PREVIEW_FAILED;
        },


        onUpload()
        {
            // prepare upload
            this.prepareUpload();


            // start upload
            let theFormData = new FormData();

            theFormData.append('image', this.$refs.image.files[0]);
            theFormData.append('slug', this.subscription.slug);


            axios.post(
                '/admin/subscription/update/image', 
                theFormData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.status == 'success')
                {
                    this.setSuccessSubmit(response.data);
                }
                else
                {
                    this.errors.record(error.response.data.errors);

                    this.setFailSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response.data.message);

                this.errors.record(error.response.data.errors);

                this.setFailSubmit();
            });
        },

        onSkip()
        {
            this.enableNextForm();
            this.setViewMode();
        },

        prepareUpload()
        {
            this.flags.loading_form = true;

            this.flags.status = STATUS_SAVING;
        },

        setSuccessSubmit(data)
        {
            var subscription = data.subscription;

            this.flags.loading_form = false;

            this.flags.status = STATUS_SUCCESS;

            this.resetImageInput();
            this.enableNextForm(subscription);
            this.setViewMode();
        },

        setFailSubmit()
        {
            this.flags.loading_form = false;

            this.flags.status = STATUS_FAILED;
        },

       
        enableNextForm(subscription = null)
        {
            if (subscription == null)
            {
                this.$emit('nextComponent', {from:'image', subscription:this.subscription});

                return;
            }

            this.$emit('nextComponent', {from:'image', subscription:subscription});
        },

        setViewMode()
        {
            this.flags.mode = 'view';
        },

        setEditMode()
        {
            this.flags.mode = 'edit';
        },

        showDebug(label, msg)
        {
            if (this.flags.debug === true) {
                
                console.log(label,msg);
            }
        },

        resetImageInput()
        {
            this.$refs.image.type = 'text';
            this.$refs.image.type = 'file';
        },
    },
}
</script>



<style>
.blured20 {
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.bg-lt-btn {
    background: #f2f2f2;
}
</style>