<template>


    <div class="ui form" :class="{loading:flags.loading_form, error:errors.any()}">

        <h1 class="ui dividing header m-t-60">
            <button class="ui basic tiny right floated button" v-show="canAdd" @click="onAdd">
                <i class="icon plus"></i>
                Add Pricing Plan
            </button>
            <button class="ui basic tiny right floated button" v-show="canCancel" @click="onCancel">
                <i class="icon times"></i>
                Cancel
            </button>
            <button class="ui basic tiny right floated button" v-show="canRefresh" @click="fetchPlans">
                <i class="icon sync alternate"></i>
                Refresh
            </button>
            <div class="sub header">Billing Plan</div>
        </h1>



        <div class="ui" v-show="isShowForm">
            <div style="clear:both">&nbsp;</div>

            <div class="ui four column centered grid" v-show="isModeEdit">
                <div class="column bg-lt-btn">
                    <div class="fluid ui button" :disabled="!canCancel" @click="onCancel">Cancel</div>
                </div>
            </div>
        </div>



        <!-- PLAN LIST -->
        <div>
            <div v-show="flags.added">
                <subscription-crud-plan 
                :subscription="subscription" 
                :plan="newPlan" 
                :setMode="'create'"
                @onSuccessUpdateParent="onChildPlanSuccessUpdateMe"></subscription-crud-plan>
            </div>

            <div v-if="hasPlan">
                <div v-for="(plan, index) in plans" :key="index">
                    <subscription-crud-plan 
                    :subscription="subscription" 
                    :plan="plan" 
                    :setMode="plan.mode" 
                    :readonly="readonly" 
                    @onSuccessUpdateParent="onChildPlanSuccessUpdateMe"></subscription-crud-plan>
                </div>
            </div>
            <div v-else class="ui feed">
                <div class="event">
                    <div class="content">
                        <div class="date">
                            Create a pricing plan to subscribe customers to this product.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PLAN LIST -->

        

        <div class="ui tiny message" v-show="errors.has('422')" :class="{error:errors.has('422')}">
            <li v-text="errors.get('422')"></li>
            <li><a class="ui small button" @click="fetchPlans">Refresh</a></li>
        </div>

        
        <div class="bottom-spacer-30"></div>


        <div class="ui centered grid">
            <button class="ui basic tiny centered align button" v-show="canAdd" @click="onAdd">
                <i class="icon plus"></i>
                Add Pricing Plan
            </button>
            <button class="ui basic tiny centered button" v-show="canCancel" @click="onCancel">
                <i class="icon times"></i>
                Cancel
            </button>
        </div>

    </div>


</template>



<script>
import Errors from '../../core/Errors.js';

const STATUS_INITIAL = 0, 
    STATUS_FETCHING = 1, 
    STATUS_SUCCESS = 2, 
    STATUS_FAILED = 3;

export default {
    props: {
        setEnabled: {
            type: Boolean,
            default: false
        },
        setMode: {
            type: String,
            default: 'view'
        },
        readonly: {
            type: Boolean,
            default: false
        },
        subscription: {
            type: Object,
            default: {}
        }
    },

    data: function(){
        return {
            debug: false,

            flags: {
                loading_form: false,
                disabled: true,
                added: false,
                mode: 'view',
                isEditButtonBlured: true,
                status: STATUS_INITIAL,
            },

            newPlan: {
                id: 'xxxxxnewxxxxx',
                nickname:  '',
                active: true,
                amount: 0.00,
                currency: 'USD',
                interval_count: 1,
                interval: 'month',
                trial_period_days: 0,
                mode: 'create',
            },

            plans: [],

            allowed_modes: ['create', 'view', 'edit'],

            errors: new Errors(),
        }
    },

    created()
    {
        // initialize the mode provided by parent container
        if (this.setMode != null && this.setMode != undefined && this.allowed_modes.includes(this.setMode))
        {
            this.flags.mode = this.setMode;
        }

        if (this.setMode == 'edit' || this.setMode == 'view')
        {
        }

        // use axios to get stripe data of the product
    },

    mounted()
    {
        // fetch all plan data
        if (this.flags.mode == 'edit' || this.flags.mode == 'view')
        {
            this.fetchPlans();
        }
    },

    computed: {
        isShowForm()
        {
            return this.flags.mode == 'create' || this.flags.mode == 'edit';
        },
        isModeCreate()
        {
            return this.flags.mode == 'create';
        },
        isModeView()
        {
            return this.flags.mode == 'view';
        },
        isModeEdit()
        {
            return this.flags.mode == 'edit';
        },

        canAdd()
        {
            return this.flags.status !== STATUS_FETCHING && this.flags.added == false && this.readonly == false;
        },
        canCancel()
        {
            return this.flags.status !== STATUS_FETCHING && this.flags.added == true;
        },
        canRefresh()
        {
            return this.flags.status !== STATUS_FETCHING && this.flags.added == false;
        },

        hasPlan()
        {
            return this.plans.length;
        },
    },

    methods: {
        onAdd()
        {
            this.flags.added = true;
        },

        onCancel()
        {
            this.flags.added = false;
        },

        fetchPlans()
        {
            // validate form
            if (!this.validateForm())
            {
                return false;
            }

            // prepare submit
            this.prepareSubmit();

            // handle form data
            this.handleFethingPlans();
        },

        validateForm()
        {
            if (this.subscription == null)
            {
                this.showDebug('pricing section:', 'subscription is not set');

                return false;
            }

            return true;
        },

        prepareSubmit()
        {
            this.flags.loading_form = true;

            this.flags.status = STATUS_FETCHING;
        },

        handleFethingPlans()
        {
            let theFormData = new FormData();

            theFormData.append('slug', this.subscription.slug);

            axios.post(
                '/admin/subscription/fetch/plans', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                // this.errors.clear();

                if (response.data.success)
                {
                    this.setSuccessFetch(response.data);
                }
                else
                {
                    this.setFailedFetch();
                }
            })
            .catch(error => {

                this.showDebug('on fail:', error.response);

                this.errors.record(error.response.data.errors);

                this.setFailedFetch();
            });
        },

        setSuccessFetch(data)
        {
            // update the global product data
            this.plans = data.plans.data;
            this.plans.forEach(function(plan){
                plan.mode = 'view';
            });

            this.flags.loading_form = false;

            this.flags.status = STATUS_SUCCESS;

            this.enableNextForm();
        },

        setFailedFetch()
        {
            this.flags.loading_form = false;

            this.flags.status = STATUS_FAILED;

            // this.enableNextForm();
            // this.setViewMode();
        },


        
        onChildPlanSuccessUpdateMe(e)
        {
            this.flags.added = false;

            this.fetchPlans();
        },

        enableNextForm()
        {
            this.$emit('nextComponent', {from:'pricing'});
        },

        setViewMode()
        {
            this.flags.mode = 'view';
        },
        setEditMode()
        {
            this.flags.mode = 'edit';
        },

        showDebug(label, msg)
        {
            if (this.debug === true) {
                
                console.log(label,msg);
            }
        },
    },
}
</script>



<style>
.bg-lt-btn {
    background: #f2f2f2;
}
.bottom-spacer-30 {
    height: 30px;
}
</style>