<template>


    <div>

        <h1 class="ui dividing header m-t-60">
            <div class="sub header">Visibility (set to disable to save this Subscription without making them available just yet)</div>
        </h1>



        <!-- CREATE/EDIT FORM MODE -->
        <div 
        class="ui large form" 
        :class="{loading:flags.loading_form, error:errors.any()}" 
        v-show="isShowForm">

            <div class="field">
                <div class="two ui huge buttons">
                    <button class="ui button"
                        :class="{negative:isHidden}" 
                        @click="setHidden()">
                        Disabled
                    </button>
                    <div class="or"></div>
                    <button class="ui button" 
                        :class="{positive:isVisible}" 
                        @click="setVisible()">
                        Enabled
                    </button>
                </div>
            </div>



            <div class="field">
                <div class="ui tiny message" v-show="errors.has('422')" :class="{error:errors.has('422')}">
                    <li v-text="errors.get('422')"></li>
                </div>
            </div>



            <div class="ui two column centered grid" v-show="isModeCreate">
                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canUpdate" @click="onUpdate">Save &amp; Finalize</button>
                </div>
            </div>

            <div class="ui four column centered grid" v-show="isModeEdit">
                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canSkip" @click="onSkip">Cancel</button>
                </div>

                <div class="column bg-lt-btn">
                    <button class="fluid ui button" :disabled="!canUpdate" @click="onUpdate">Save</button>
                </div>
            </div>

        </div>
        <!-- END CREATE/EDIT FORM MODE -->



        <!-- VIEW MODE -->
        <div v-show="isModeView">
            <h3 class="ui header" 
            :class="[visibilityLabelColor]" 
            v-text="getVisibilityText"></h3>

            <button 
            class="ui orange right floated button" 
            :class="{blured20:flags.isEditButtonBlured}" 
            v-show="canEdit" 
            @mouseover="flags.isEditButtonBlured=false" 
            @mouseleave="flags.isEditButtonBlured=true" 
            @click="setEditMode">Change</button>
        </div>
        <!-- END VIEW MODE -->

    </div>


</template>



<script>
import Errors from '../../core/Errors.js';

const STATUS_INITIAL = 0, 
    STATUS_SAVING = 1, 
    STATUS_SUCCESS = 2, 
    STATUS_FAILED = 3;

export default {
    props: {
        setEnabled: {
            type: Boolean,
            default: false
        },
        setMode: {
            type: String,
            default: 'create'
        },
        readonly: {
            type: Boolean,
            default: false
        },
        subscription: {
            type: Object,
            default: {}
        }
    },

    data: function(){
        return {

            flags: {
                debug: false,
                loading_form: false,
                disabled: true,
                mode: 'create',
                isEditButtonBlured: true,
                status: STATUS_INITIAL,
            },

            formData: {
                visibility: false,
            },

            allowed_modes: ['create', 'view', 'edit'],

            errors: new Errors(),
        }
    },

    created()
    {
        // initialize the mode provided by parent container
        if (this.setMode != null && this.setMode != undefined && this.allowed_modes.includes(this.setMode))
        {
            this.flags.mode = this.setMode;
        }

        if (this.setMode == 'edit' || this.setMode == 'view') {

            this.formData.visibility = this.subscription.disabled === 1 ? false : true;
        }
    },

    mounted()
    {
    },

    computed: {
        isSectionDisabled()
        {
            return this.flags.disabled = !this.setEnabled;
        },

        isShowForm()
        {
            return this.flags.mode == 'create' || this.flags.mode == 'edit';
        },
        isModeCreate()
        {
            return this.flags.mode == 'create';
        },
        isModeView()
        {
            return this.flags.mode == 'view';
        },
        isModeEdit()
        {
            return this.flags.mode == 'edit';
        },

        isVisible()
        {
            return this.formData.visibility == true;
        },
        isHidden()
        {
            return this.formData.visibility == false;
        },

        getVisibilityText()
        {
            return (this.formData.visibility == true)? 'Enabled' : 'Disabled';
        },
        visibilityLabelColor()
        {
            return this.subscription.disabled ? 'red' : 'green';
        },

        canEdit()
        {
            return this.flags.status !== STATUS_SAVING && this.readonly == false;
        },
        canUpdate()
        {
            return this.flags.status !== STATUS_SAVING && this.readonly == false;
        },
        canSkip()
        {
            return this.flags.status !== STATUS_SAVING;
        },
    },

    methods: {
        onUpdate(e)
        {
            // prepare submit
            this.prepareSubmit();

            // handle submit
            this.handleSubmit();
        },

        prepareSubmit()
        {
            this.flags.loading_form = true;

            this.flags.status = STATUS_SAVING;
        },

        handleSubmit()
        {
            let theFormData = new FormData();

            theFormData.append('disabled', this.formData.visibility);
            theFormData.append('slug', this.subscription.slug);

            axios.post(
                '/admin/subscription/update/visibility', 
                theFormData
            )
            .then(response => {

                this.showDebug('on success:', response.data);

                this.errors.clear();

                if (response.data.success == true)
                {
                    this.onSuccessSubmit(response.data);
                }
                else
                {
                    this.onFailedSubmit();
                }
            })
            .catch(error => {

                this.showDebug('on error:', error.response);

                this.errors.record(error.response.data.errors);

                this.onFailedSubmit();
            });
        },

        onSuccessSubmit(data)
        {
            this.flags.loading_form = false;

            this.flags.status = STATUS_SUCCESS;

            this.enableNextForm(data.subscription);
            this.setViewMode();
        },

        onFailedSubmit()
        {
            this.flags.loading_form = false;

            this.flags.status = STATUS_FAILED;
        },

        onSkip()
        {
            this.formData.visibility = this.subscription.disabled === 1 ? false : true;

            // this.enableNextForm();
            this.setViewMode();
        },



        setVisible() 
        {
            this.formData.visibility = true;
        },
        setHidden() 
        {
            this.formData.visibility = false;
        },


        
        enableNextForm(subscription)
        {
            this.$emit('nextComponent', {from:'visibility', subscription:subscription});
        },

        setViewMode()
        {
            this.flags.mode = this.allowed_modes[1];
        },

        setEditMode()
        {
            this.flags.mode = this.allowed_modes[2];
        },

        showDebug(label, msg)
        {
            if (this.flags.debug === true) {
                
                console.log(label,msg);
            }
        },
    },
}
</script>



<style>
.blured20 {
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.bg-lt-btn {
    background: #f2f2f2;
}
</style>